.site-logo img {
  width: 316px !important;
  height: 101px !important; }

.amazon-item--full .add-to-cart-box form .purchase-submit,
.amazon-item--full .add-to-cart-box form .form-submit {
  background: #e74d22 url('../images/cart-white_22px.png?1424012299') no-repeat;
  background-position: 10px; }
.amazon-item--full .add-to-cart-box form.gp-amazon-cart-oneclick-form .purchase-submit,
.amazon-item--full .add-to-cart-box form.gp-amazon-cart-oneclick-form .form-submit {
  background: #e74d22 url('../images/add-ebook_27px.png?1424012299') no-repeat;
  background-position: 4px; }
.amazon-item--full .one-click-buy a,
.amazon-item--full .oneclickbuy-submit a {
  background: #e74d22 url('../images/cart-white_22px.png?1424012299') no-repeat;
  background-position: 10px; }

.block--gp-amazon-cart-cart .block__content {
  background: url('../images/cart_26px.png?1424012299') no-repeat;
  background-position: 5px 5px; }

.block-giunti-card .block-content:after {
  background: url('../images/GIUNTIcard_front_85px.png?1424012299') no-repeat;
  background-position: 0 0; }
  .gp-signup-page .block-giunti-card .block-content:after {
    width: 150px;
    height: 95px;
    background: url('../images/GIUNTIcard_front-BLU.png?1424012299') no-repeat;
    background-position: 0 0; }

.modal-redirect .login-to-card .login,
.modal-redirect .login-to-card .register,
.modal-redirect .login-to-card .bind,
.modal-redirect .login-to-card .create,
.modal-redirect .bind-create-card .login,
.modal-redirect .bind-create-card .register,
.modal-redirect .bind-create-card .bind,
.modal-redirect .bind-create-card .create,
.modal-redirect .skip-card .login,
.modal-redirect .skip-card .register,
.modal-redirect .skip-card .bind,
.modal-redirect .skip-card .create {
  background: url('../images/arrow-to-right_14px.png?1424012299') no-repeat;
  background-position: 0px 4px; }

.main-navigation li .facebook-link {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/facebook_icon_14px.png?1424012299');
  background-repeat: no-repeat;
  background-position: 0 50%; }

.gp-signup-page .signup-title,
.gp-signup-page .binder-title,
.gp-signup-page .register-title {
  background: url('../images/arrow-to-right_14px.png?1424012299') no-repeat;
  background-position: 0px 4px; }

.giunticard-info .giunticard-item-image {
  width: 150px;
  height: 95px;
  background: url('../images/GIUNTIcard_front-BLU.png?1424012299') no-repeat; }

.gp-user-change-pass-form .form-item-mail label,
.gp-user-change-pass-form .form-item-pass label,
.gp-user-reset-pass-form .form-item-mail label,
.gp-user-reset-pass-form .form-item-pass label {
  background: url('../images/arrow-to-right_14px.png?1424012299') no-repeat;
  background-position: 0px 4px; }

.bind-create-card .bind,
.bind-create-card .create {
  background: url('../images/arrow-to-right_14px.png?1424012299') no-repeat;
  background-position: 0px 4px; }

.gp-card-bind-giunticard-form label.element-invisible {
  position: static !important;
  height: auto; }
