[id='power-wrapper'] .form-item.form-type-select, [id='power-wrapper'] .form-item.form-type-textfield {
  display: inline-block;
  margin-right: 1em;
}

[id=power-wrapper] .form-item.form-type-textfield {
  width: 70%;
}

[id=power-wrapper] .form-item.form-type-textfield input {
  width: 100%;
}