@import "compass";
@import "variables/**/*";
@import "abstractions/**/*";

#popup-message-background {
  display: none;
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#popup-message-window {
  display: none;
  position: fixed !important;
  _position: absolute !important; /* hack for internet explorer 6*/
  background: #ffffff;
  z-index: 200;
  font-size: 13px;

  h1.popup-message-title {
    @include element-invisible();
    text-align: left;
    color: black;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px dotted #d3d3d3;
    padding-bottom: 2px;
    margin-bottom: 20px;
    margin: 0;
  }

  > br {
    display: none;
  }
}

#popup-message-close {
  background: transparent url('img/close.png') no-repeat top left;
  text-indent: -1000px;
  width: 16px;
  height: 16px;
  font-size: 0px;
  right: 3px;
  top: 3px;
  position: absolute;
  display: block;
  cursor: pointer;
}
