@import "compass";
@import "variables/**/*";

.site-logo {
  img {
    width: 316px !important;
    height: 101px !important;
  }
}

.amazon-item--full {
  .add-to-cart-box {
    form {
      .purchase-submit,
      .form-submit {
        // ToDo: Da testare.
        background: $arancione-giunti image-url('cart-white_22px.png') no-repeat;
        background-position: 10px;
      }

      &.gp-amazon-cart-oneclick-form {
        .purchase-submit,
        .form-submit {
          // ToDo: Da testare.
          background: $arancione-giunti image-url('add-ebook_27px.png') no-repeat;
          background-position: 4px;
        }
      }
    }
  }

  .one-click-buy,
  .oneclickbuy-submit {
    a {
      // ToDo: Da testare.
      background: $arancione-giunti image-url('cart-white_22px.png') no-repeat;
      background-position: 10px;
    }
  }
}

.block--gp-amazon-cart-cart {
  .block__content {
    // ToDo: Da testare.
    background: image-url('cart_26px.png') no-repeat;
    background-position: 5px 5px;
  }
}

.block-giunti-card {
  .block-content {
    &:after {
      // ToDo: Da testare.
      background: image-url('GIUNTIcard_front_85px.png') no-repeat;
      background-position: 0 0;

      .gp-signup-page & {
        width: 150px;
        height: 95px;
        background: image-url('GIUNTIcard_front-BLU.png') no-repeat;
        background-position: 0 0;
      }
    }
  }
}

.modal-redirect {
  .login-to-card,
  .bind-create-card,
  .skip-card {
    .login,
    .register,
    .bind,
    .create {
      // ToDo: Da testare.
      background: image-url('arrow-to-right_14px.png') no-repeat;
      background-position: 0px 4px;
    }
  }
}

.main-navigation {
  li {
    .facebook-link {
      // ToDo: Da testare e valutarne l'uso sempre.
      @include replace-text('facebook_icon_14px.png', 0, 50%);
    }
  }
}

.gp-signup-page {
  .signup-title,
  .binder-title,
  .register-title {
    // ToDo: Da testare.
    background: image-url('arrow-to-right_14px.png') no-repeat;
    background-position: 0px 4px;
  }
}

.giunticard-info {
  .giunticard-item-image {
    // ToDo: Da testare.
    width: 150px;
    height: 95px;
    background: image-url('GIUNTIcard_front-BLU.png') no-repeat;
  }
}

.gp-user-change-pass-form,
.gp-user-reset-pass-form {
  .form-item-mail,
  .form-item-pass {
    label {
      // ToDo: Da testare.
      background: image-url('arrow-to-right_14px.png') no-repeat;
      background-position: 0px 4px;
    }
  }
}

.bind-create-card {
  .bind,
  .create {
    // ToDo: Da testare.
    background: image-url('arrow-to-right_14px.png') no-repeat;
    background-position: 0px 4px;
  }
}

// Show labels.
.gp-card-bind-giunticard-form {
  label.element-invisible {
    position: static !important;
    height: auto;
  }
}