@import "compass";
@import "variables/**/*";

a {
  color: $azzurro-giunti;
  text-decoration: underline;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: underline;
  }
}

strong {
  &.alternative-color {
    color: $rosso-giunti;
  }
}

h3 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

p {
  text-align: left;

  &.salutation {}

  &.signature {
    font-weight: 300;
  }

  &.unsubscribe {
    margin: 0 0 1em;
    text-align: center;
  }

  &.colophon {
    margin: 1em 0 0;
    text-align: center;
  }

  &.coupon-code {
    font-weight: 700;
    text-align: center;

    .code {
      font-size: 17px;
      font-weight: 900;
      letter-spacing: 1px;
      background-color: #ffff33;
    }
  }
}

ul {
  list-style: none;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;

  caption {
    margin-bottom: 1em;
    text-align: left;
    font-style: italic;
  }

  thead {
    font-weight: 400;
  }

  th,
  td {
    padding: 3px 6px;
    border: 1px solid #000;
    font-weight: 400;
  }

  &.point-rules {
    td {
      text-align: center;
    }
  }

  &.giunticard {
    th,
    td {
      text-align: left;
    }

    th {
      min-width: 150px;
      font-weight: 400;
      font-style: italic;
    }

    .balance {
      th,
      td {
        font-weight: 700;
      }
    }
  }
}

.message-wrapper {
  max-width: 638px;
  margin: auto;
  background: $white;
}

.logo {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.message-body,
.message-footer {
  padding: 10px;
}

.message-body {
  text-align: center;
}

.message-footer {
  padding: 10px 80px;
  color: $white;
  font-size: 12px;
  text-align: center;
  background: $blu-giunti;

  a {
    color: #ffff33;
  }
}

div.coupon {
  background: url('http://giunti-cloud-prod.s3.amazonaws.com/uploads/buono-regalo-10eu.png') no-repeat;
  background-size: contain;
  width: 406px;
  height: 270px;
  margin: auto;
  text-align: left;
}

span.code-waterprint {
  display: inline-block;
  margin-top: 208px;
  margin-left: 118px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 2px;
}

.view-cart-items {
  table {
    width: 420px;
    margin-left: 0;
    text-align: left;
  }

  .views-field-asin {
    width: 75px;
  }

  th.views-field-asin {
    text-align: center;
  }

  .views-field-price,
  .views-field-total {
    width: 60px;
    text-align: center;
  }

  .views-field-quantity {
    width: 55px;
    text-align: center;
  }
}
