/**
 * $FONT-FACE
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $lato;
  color: #000;
}

a {
  text-decoration: none;
  
  &:hover, &:active {
    text-decoration: underline;
  }
}