.amazon-search-row {
  margin-bottom: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid #eee;

  .bestseller--amode-image &,
  .search-results--amode-image & {
    width: 33%;
    float: left;
    border-bottom: 0;

    &.amazon-search-row-1,
    &.amazon-search-row-4,
    &.amazon-search-row-7,
    &.amazon-search-row-10 {
      clear: left;
    }

    .amazon-item--image {
      padding: 5px 15px 10px;
    }

    .product-image {
      width: auto;
      max-height: 170px;
      margin-bottom: 15px;
      margin-top: 10px;
      margin-right: 0;
      text-align: left;
    }
  }

  &.amazon-search-row-last,
  &.slick-slide {
    border-bottom: none;
  }

  &.slick-slide {
    margin: 0;
    padding: 0;
    .amazon-item--image {
      margin: 0 10px;
    }
  }

  .amazon-item--detail {
    .product_title {
      font-size: 20px;

      > a {
        color: $generic-link-color;
      }

      .product-date-published {
        color: $grey;
        font-size: 0.6em;
      }
    }

    .author_name {
      margin-bottom: 6px;
    }

    .offer-amount-saved {
      display: none;
    }
  }
}

@include breakpoint($tab) {
  .amazon-search-row {
    .bestseller--amode-image &,
    .search-results--amode-image & {
      width: 50%;

      &.amazon-search-row-1,
      &.amazon-search-row-4,
      &.amazon-search-row-7,
      &.amazon-search-row-10 {
        clear: none;
      }

      &.amazon-search-row-odd {
        clear: left;
      }

      .product-image {
        max-height: 142px;
      }
    }
  }
}

@include breakpoint($mobile) {
  .amazon-search-row {
    .bestseller--amode-image &,
    .search-results--amode-image & {
      width: 100%;
    }
  }
}

.pane-amazon-search-block,
.pane-amazon-search-asins-block,
.pane-browsenode-searches,
.pane-browsenode-topitems-sets,
.pane-item-rendered,
.browsenode-bestseller {

  .slick-slider {
    $button-width: image-width("slider-next.png");
    $button-height: image-height("slider-next.png");
    $slider-padding: 7px;

    padding: 0 ($button-width + $slider-padding * 2);
    margin-bottom: 1.5em;

    @include breakpoint($mobile) {
      padding: 0 ($slider-padding * 2);
    }

    .slick-prev,
    .slick-next {
      width: $button-width;
      height: $button-height;
      margin-top: -($button-height / 2);
      top: 90px;

      &:before {
        content: none;
      }

      &.slick-disabled {
        @include opacity(.2);
      }
    }

    &.big-images-style {
      .slick-prev,
      .slick-next {
        top: 110px;
      }
    }

    .slick-prev {
      background-image: image-url("slider-prev.png");
      left: 0;
    }

    .slick-next {
      background-image: image-url("slider-next.png");
      right: 0;
    }
  }
}

.render-mode-slick {
  clear: both;
  min-height: 280px;
  overflow: hidden;
  background-color: white;

  > .amazon-search-row {
    float: left;
    height: 290px;

    .amazon-item--image .product-image {
      width: 160px;
    }
  }
}

.amazon-item--detail,
.amazon-item--image {
  .wishlist-item & {
    .add-to-cart-box,
    .gp-wishlist-link {
      display: none;
    }

    .product_title {
      .product-date-published {
        display: none;
      }
    }
  }

  .cart-table & {
    .add-to-cart-box,
    .gp-wishlist-link {
      display: none;
    }

    .product_title {
      .product-date-published {
        display: none;
      }
    }
  }

  .add-to-cart-form {
    .form-item-quantity {
      display: none;
    }
  }
}

.amazon-item--detail {
  .add-to-cart-box {
    float: right;
    position: relative;
    margin-top: 1em;
    margin-left: 20px;

    .oneclickbuy-submit,
    .card-submit,
    .login-submit,
    .form-submit {
      display: block;
      text-align: center;
      width: 149px;
      background-color: $arancione-giunti;
      color: #fff;
      font-weight: bold;
      @include border-radius(6px);
      line-height: 28px;
      border: none;
      padding: 0;
    }

    .item-added-text {
      position: absolute;
      top: -1.5em;
      width: 100%;
      margin: 0;
      color: $grey;
      font-weight: bold;
      text-align: center;
    }

    @include breakpoint($mobile) {
      float: none;
      margin-left: 0;

      .oneclickbuy-submit,
      .form-submit {
        margin: 10px auto;
        min-width: 70%;
      }
    }
  }

  .gp-wishlist-link {
    float: right;
    margin-top: 1em;
    margin-left: 20px;

    > a {
      display: block;
      color: $grey;
      line-height: 28px;
    }

    @include breakpoint($mobile) {
      float: none;
      margin-left: 0;

      > a {
        min-width: 70%;
        margin: 10px auto;
        text-align: center;
      }
    }
  }
}
