.gp-amazon-cart-form {
  @include clearfix;
  clear: both;

  .cart-wrapper {
    padding: 10px 20px 10px;
    @include border-radius(4px);
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: $celestino-giunti;
  }

  .cart-title {
    margin: 0 410px 0 0;
    font-size: 24px;
    line-height: 25px;
    color: $section-title;
    border-bottom: 1px solid #d7d7d7;

    .page-cart-last & {
      font-size: 18px;
      line-height: 25px;
      border-bottom: 0;
    }

    .icon-check {
      display: inline-block;
      min-width: image-width('icon-check.png');
      min-height: image-height('icon-check.png');
      vertical-align: text-bottom;
      background-image: image-url('icon-check.png');
    }
  }

  table {

    th {
      background-color: transparent;
      border-bottom: 1px solid #d7d7d7;
      padding: 8px 15px;
      color: #666;
    }

    td {
      padding: 15px 0 10px;
    }

    tr {
      &:last-child {
        border-bottom: 0;
      }
    }

    tr.even,
    tr.odd {
      background-color: transparent;
    }

    .amazon-item {
      .product_title {
        margin: 0;
        font-weight: bold;

        a {
          font-weight: bold;
        }
      }

      .author_name {
        color: #000000;
        font-size: 14px;
        line-height: 20px;
      }

      .offer-price {
        display: block;
        font-size: 16px;
        line-height: 20px;

        .price-label {
          font-size: inherit;
          line-height: inherit;
        }

        .price-content {
          color: $price;
        }

        .page-cart & {
          display: none;
        }
      }

      .offer-amount-saved {
        display: block;
        color: $grigio-giunti;
        font-size: 14px;
        line-height: 20px;

        .page-cart & {
          display: none;
        }
      }

      .product-content {
        margin-left: 96px + 35px;
      }

      .offer-merchant,
      .shipping-box,
      .prime-available {
        display: none;
      }

      .shipping-box {
        .page-cart & {
          display: block;
          margin-top: 10px;
        }
      }
    }

    .item-price {
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;

      .price {
        color: $price;
        font-size: inherit;
        font-weight: bold;
      }
    }

    .item-quantity {
      display: inline-block;
      margin: 0 10px 10px 0;
      margin: 0 10px 0 0;
      font-size: 14px;
      line-height: 18px;

      + .form-type-select {
        display: inline-block;
      }
    }

    .remove-action-wrapper {
      input {
        padding: 0;
        border: 0;
        color: $generic-link-color;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        background: none;
      }
    }
  }

  .subtotal {
    margin-right: 210px;
    padding: 8px 0px;
    text-align: left;

    .label {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }

    .article-count {
      font-size: 14px;
      line-height: 20px;
    }

    .price {
      display: block;
      color: $price;
      font-size: 22px;
      line-height: 30px;
      font-weight: normal;
    }
  }

  .block-giunti-card {
    .block-content  {
      text-align: center;
    }
  }

  .cart-wrapper {
    .form-actions {
      float: right;
      width: 390px;
      margin-top: -5px;
      margin-left: 20px;
      margin-bottom: 20px;
      padding: 5px 15px 10px;
      @include border-radius(4px);
      background-color: $white;
      box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

      .your-cart {
        display: none;
        .icon-cart {
          display: block;
          margin: 0 auto;
          background: image-url('cart-icon.png') no-repeat;
          width: image-width('cart-icon.png');
          height: image-width('cart-icon.png');
          margin-bottom: 4px;
        }
        font-size: 13px;
        color: #364570;
        text-transform: uppercase;
        border-bottom: 1px solid #d2d5df;
        padding-bottom: 20px;
        padding-top: 10px;
      }

      .form-link {
        float: right;
        width: 190px;
        margin: 0 0 8px;
        padding: 6px 10px;
        color: $generic-link-color;
        text-align: center;
        text-decoration: underline;
      }

      .form-link-btn,
      .purchase-submit,
      .form-submit {
        float: right;
        width: 190px;
        margin: 8px 0;
        padding: 6px 10px;
        @include border-radius(8px);
        border: none;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background-color: $category-root-start;

        @include transition(opacity .2s);

        &:hover {
          @include opacity(.8);
        }
        &:active {
          @include opacity(1);
        }

        &.update-submit {
          display: none;
          background-color: $grey;
        }

        &.edit-btn {
          text-align: center;
          background-color: $grey;
        }
      }
    }

    .form-item,
    .delete-item {
      .page-cart-last & {
        display: none;
      }
    }
  }

  @include breakpoint($tab) {
    .cart-title {
      margin: 0;
    }

    table .amazon-item {
      .product-content {
        margin-left: 60px;
      }

      .product_title {
        line-height: 1.2;
      }
    }

    .form-actions {
      margin-top: 4px;
    }


  }

  @include breakpoint($mobile_xxl) {
    .cart-wrapper {
      .form-actions {
        float: none;
        width: 100%;
        margin: 10px 0;
        text-align: center;

        .form-submit,
        .purchase-submit {
          float: none;
          display: block;
          margin: 10px auto;
        }

        .form-link {
          float: none;
          display: block;
          margin: 0 auto 10px;
        }

        .subtotal {
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}

.cart-table {
  clear: left;
  margin-right: 410px;
  @include tablesaw-stack( 70em );

  thead {
    display: none;
  }

  .amazon-item--detail .product-image {
    width: 110px;
  }

  td.item-price-quantity {
    min-width: 175px;
    width: 40%;
    padding-left: 20px;
    vertical-align: top;
  }

  @include breakpoint($tab) {
    .tablesaw-stack td .tablesaw-cell-label {
      display: none;
    }

    .amazon-item--detail {
      .product-image {
        width: 50px;
      }
      .product-content {
        margin-left: 60px;
      }
    }

    td.item-price-quantity {
      min-width: 0;
      margin: 0;
      padding: 0;
      padding-left: 60px;

      .item-price,
      .item-saved {
        margin: 0 0 5px;
      }
    }
  }

  @include breakpoint($mobile_xxl) {
    clear: none;
    margin: 0;

    .tablesaw-stack td .tablesaw-cell-label {
      display: none;
    }

  }
}

.empty-cart {
  text-align: center;
}


div.goto-wishlist {
  text-align: center;
  a {
    padding: 0;
    border: 0;
    color: #0055aa;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    background: none;
  }
}