.amazon-item {
  .product_title {
    margin: 0;
    color: $title-product;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
  }

  .product-unavailable {
    color: $price;
    font-weight: normal;
    line-height: 1;
  }

  .product-availability {
    margin: 1em 0;
    &.availability-now {
    }
    &.availability-futureDate {
    }
    &.availability-unknown {
    }

    .availability-moretext {
      font-size: 12px;
      font-weight: normal;
      @include element-invisible;
    }
  }

  .offer-box {
    margin: 1em 0;

    .price-label {
      color: $grey;
      font-size: 0.8em;
      text-align: right;
      padding-right: 5px;
    }

    .offer-list-price {
      color: $grigio-giunti;
      font-size: 12px;
      font-weight: normal;
      text-decoration: line-through;
    }

    .offer-price {
      .price-content {
        color: $red-price;
        font-weight: 600;
      }
    }

    .offer-saved {
      .price-content {
        color: $red-price;
      }
    }
  }

  .product-binding {
    color: #02489d;
    font-weight: normal;
  }

  .prime-available {
    display: inline-block;
  }

  .product-description {
    margin: 16px 0;

    ul, li {
      list-style-position: inside;
      padding: 0;
    }
  }
}

.amazon-item--full {
  @include clearfix();

  .images-area {
    float: left;
    width: 300px;
    margin-bottom: 20px;
    @include clearfix();

    .images-area-large {
      max-height: 450px;
      margin-bottom: 16px;
      @include vertical-centering-container;
      overflow: hidden;

      @include breakpoint($tab) {
      }

      img {
        max-width: 100%;
        max-height: 100%;
        @include vertical-centering-innerblock;
      }
    }

    .images-area-thumbs {
      white-space: nowrap;
      overflow: hidden;

      a {
        display: inline-block;
        width: 50px;
        margin-left: 9px;
        text-align: center;

        &.active {
        }

        &:first-child {
          margin-left: 0;
        }

        img {
          display: inline-block;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }

  .product-right-side {
    margin-left: 320px;
    margin-bottom: 20px;
  }

  .product-offer-wrapper {
    float: right;
    width: 200px;
    margin-left: 20px;
    //margin-bottom: 20px;
  }

  .gp-wishlist-link {
    text-align: center;
    margin-bottom: .5em;
    a {
      color: $grey;
    }
  }

  .product-offer {
    padding: 10px 15px 10px;
    @include border-radius(4px);
    @include box-shadow(0 0 0 4px rgba(0,0,0,0.1));
    margin-bottom: .7em;

    .price {
      margin: 0 0 4px;
      color: $grey;
      font-size: 12px;
      line-height: 15px;

      .price-content {
        font-weight: bold;
      }
    }

    .offer-price {
      color: #000000;
      font-size: 18px;
      line-height: 20px;

      .price-content {
        font-size: 18px;
        line-height: 20px;
        color: $price;
      }
    }

    .list-price {
      .price-content {
        text-decoration: line-through;
      }
    }

    .shipping-price {
      font-size: 12px;
      line-height: 15px;

      .amazon-prime {
        white-space: nowrap;
      }
    }
  }

  .product-availability {
    font-size: 12px;
    line-height: 15px;
  }

  .field {
    .field__label {
      float: none;
      display: inline;
    }
    .field__items,
    .field__item {
      float: none;
      display: inline;
    }

    &.field--name-Languages {
      .field__item {
        display: block;
        padding-left: 1em;
      }
    }
  }

  .exp-release-date-label {
    margin: 0;
    color: $grey;
    font-size: 18px;
    line-height: 24px;

    .date-display-single {
      color: inherit;
      font-size: inherit;
    }
  }

  .field--name-field-exp-release-date {
    color: $grey;
    font-size: 18px;
    line-height: 24px;

    .date-display-single {
      color: inherit;
      font-size: inherit;
    }
  }

  .product-info{
    margin-bottom: 20px;

    .field--label-inline {
      font-size: 14px;
      line-height: 16px;

      .field__label {
        font-weight: normal;
      }
      .field__item {
        color: $grey;
        font-weight: bold;

        a {
          color: $generic-link-color;
          text-decoration: none;
        }
      }
    }

    .product_authorship {
      font-size: 14px;
      line-height: 16px;

      .author_name {
        color: $generic-link-color;
        font-weight: bold;

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      .author_role {
      }
    }
  }

  .add-to-cart-box {
    font-size: 12px;
    line-height: 15px;

    .add-to-cart-label {
    }

    form {
      .form-item {
        margin: 0;
      }

      .form-item-quantity {
        margin: 0 auto;

        select {
          margin-bottom: 12px;
        }

        label {
          display: inline-block;
          font-weight: normal;
        }

        .form-required {
          @include element-invisible;
        }
      }

      .form-actions {
        margin-bottom: 0;
      }

      .purchase-submit,
      .form-submit {
        display: block;
        width: 100%;
        padding: 6px 10px 6px 35px;
        @include border-radius(6px);
        border: none;
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        white-space: normal;
        background: $arancione-giunti image-url('cart-white.png') no-repeat;
        background-size: 22px;
        background-position: 10px;

        &:hover {
          text-decoration: none;
        }
      }

      &.gp-amazon-cart-oneclick-form {
        margin-top: 10px;

        .purchase-submit,
        .form-submit {
          background: $arancione-giunti image-url('add-ebook.png') no-repeat;
          background-size: 27px;
          background-position: 4px;
          padding: 6px 6px 6px 32px;
        }
      }
    }
  }

  .one-click-buy,
  .oneclickbuy-submit {
    color: $grey;
    text-align: center;

    a {
      display: block;
      width: 100%;
      padding: 6px 10px 6px 35px;;
      @include border-radius(8px);
      border: none;
      color: #fff;
      font-weight: bold;
      text-align: center;
      background: $category-root-start image-url('cart-white.png') no-repeat;
      background-size: 24px;
      background-position: 10px;;
    }
  }

  .product-availability,
  .product-alternate-versions,
  .product-description {
    &.readmore-js-section {
      margin-bottom: 0;
    }
  }

  .readmore-js-toggle {
    color: $generic-link-color;
    text-transform: lowercase;
    text-align: right;
    text-decoration: underline;
  }

  .add-to-cart-box {
  }

  .product-unavailable {
    margin: 1.5em 0;
  }

  .product-bottom-content {
    h2 {
      font-size: 18px;
      color: #e9770f;
    }
  }

  .product-details {
    clear: right;
    padding-top: 16px;
    border-top: 2px solid #eee;

    > h2 {
      margin: 0 0 16px;
      color: $title-product;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 4px;
      float: left;
      width: 100%;
    }

    label,
    .field__label {
      font-weight: normal;
    }
  }

  .product-description,
  .editorial-reviews {
    clear: right;
    margin: 1.5em 0;
  }

  .product-customer-reviews {
    width: 100%;
    margin: 1.5em 0;
    border: 1px solid #eeeeee;
    height: 500px;
  }

  .product-alternate-versions {
    h2 {
      margin-bottom: 0;
      font-size: 14px;
      color: #e9770f;
      @include element-invisible;
    }

    .version-name {
      display: inline-block;
      margin-right: 0.6em;
      font-size: 12px;
      white-space: nowrap;

      strong,
      a {
        display: inline-block;
        margin-bottom: 0.4em;
        padding: 5px;
        border: 1px solid #666;
        @include border-radius(5px);
        color: #666;
        font-weight: 400;
        text-decoration: none;

        .price {
          display: block;
          color: $grigio-giunti;
          color: #666;
          font-size: 16px;
          font-weight: bold;
        }
      }

      strong {
        border: 1px solid $category-root-end;
        color: #000000;
        font-weight: normal;
        background-color: #ffff80;
        text-decoration: none;

        .price {
          color: $price;
        }
      }
    }
  }

  .block-giunti-card {
    margin-left: 10px;
    margin-right: 220px;
    margin-bottom: 15px;

    .block-content {
      padding: 6px 15px;
      padding-left: 90px;

      &:after {
        top: -7px;
        left: -7px;
        width: 85px;
      }
    }
  }

  @include breakpoint($tab) {
    .images-area {
      width: 177px;

      .images-area-large {
        height: auto;
      }
    }

    .product-right-side {
      margin-left: 190px;
    }

//    .images-area {
//      @include grid-span(8, 1);
//      margin-bottom: 15px;
//      overflow: hidden;
//
//      .images-area-thumbs {
//        float: none;
//        text-align: center;
//
//        a {
//          display: inline-block;
//        }
//      }
//
//      .images-area-large {
//        width: 100%;
//      }
//    }
//
//    .product-right-side {
//      margin: 0;
//    }
  }
}

@include breakpoint($mobile) {
  .amazon-item--full {
    .images-area {
      width: 100%;
      float: none;
    }

    .product-right-side {
      width: 100%;
      float: none;
      margin: 0;
    }

    .product-offer-wrapper {
      width: 100%;
      float: none;
      margin: 0 0 20px;
    }

    .block-giunti-card {
      margin: 10px 10px 20px;
    }

//    .add-to-cart-box {
//      width: 100%;
//      float: none;
//    }
//
//    > .product-content {
//      margin-left: 0;
//    }
  }
}

.amazon-item--image {
  .rank {
    display: none;
  }
  .product_title {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    border-bottom: none;
    a {
      color: inherit;
    }
  }

  .product-image {
    position: relative;
    height: 170px;
    margin: 0 0 15px;
    @include vertical-centering-container;
    text-align: left;

    > a {
      position: absolute;
      bottom: 0;
      max-height: 170px;
    }

    img {
      max-width: 100%;
      max-height: inherit;
    }
  }

  .product_title {
    color: $title-product-link;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  .offer-price {
    color: $price;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;

    .offer-list-price {
      color: $grigio-giunti;
      font-size: 13px;
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  .product_authorship {
    border-bottom: none;
    margin: 0;
    padding: 0;
    line-height: 15px;
  }

  .author_name {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
  }

  .product-binding {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: $grigio-giunti;
  }

  .pane-browsenode-searches &,
  .pane-browsenode-topitems-sets &,
  .pane-amazon-search-asins-block &,
  .pane-amazon-search-block & {

    .product-image {
    }

    .product_title {
    }

    .product_authorship {
    }

    .author_name {
    }

    .product-binding {
    }

    .offer-price {
    }
  }

  .big-images-style & {
    .product-image {
      height: 228px;
      max-height: none;

      > a {
        max-height: 228px;
      }

      img {
        border: 6px solid #eff1f4;
      }
    }

    .product-content {
      display: none;
    }
  }
}

.block-similarities {
  clear: both;

  .block__title,
  .similarities-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: $section-title;
    border-bottom: 1px solid #d7d7d7;

    a {
      color: $section-title;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .product-content {
//    margin-left: 96px + 15px;
  }

  .product_title {
    margin-top: 5px;
  }

  .amazon-item {
    @include clearfix;
  }

  .product-image {
//    height: 230px;
    margin-bottom: 10px;
  }

  .offer-price {
    margin-top: 10px;
  }

  .slick-slider {
    $button-width: image-width("slider-next.png");
    $button-height: image-height("slider-next.png");
    $slider-padding: 7px;

    padding: 0 ($button-width + $slider-padding * 2);
    margin-bottom: 1.5em;

    .slick-prev,
    .slick-next {
      width: $button-width;
      height: $button-height;
      margin-top: -($button-height / 2);

      &:before {
        content: none;
      }

      &.slick-disabled {
        @include opacity(.2);
      }
    }

    .slick-prev {
      background-image: image-url("slider-prev.png");
      left: 0; //-($button-width + $slider-padding);
    }

    .slick-next {
      background-image: image-url("slider-next.png");
      right: 0; //-($button-width + $slider-padding);
    }
  }

  // ToDo: Find a solution without having to hide the block.
  @include breakpoint($tab) {
    display: none;
  }
}

.amazon-item--rank {
  @include clearfix;

  > .rank {
    display: none;
  }

  .product-image {
    float: left;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 80px;
      display: inline-block;
    }
  }

  .product-content {
    margin-left: 90px;
  }

  .product_title {
    font-size: 1em;
    line-height: 1.2;
    color: #000;
    font-weight: normal;
    margin: 0;
    a {
      color: $generic-link-color;
      font-weight: bold;
    }
    .rank {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .offer-box {
    margin: 0;
  }

  .shipping-availability {
    color: $grey;
    font-size: 0.9em;
  }

  .offer-merchant {
    color: $grey;
    .merchant {
      color: #02489d;
    }
  }

  .product_authorship {
    border-bottom: none;
    margin: 0;
    padding: 0;
    line-height: 15px;
  }

  .author_name {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
  }

  .product-brand,
  .product-binding {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: $grey;
  }

  .offer-price {
    color: $red-price;

    .offer-list-price {
      color: $grigio-giunti;
      font-size: 11px;
      font-weight: normal;
      text-decoration: line-through;
    }
  }
}


.amazon-item--detail {
  @include clearfix;

  .product-image {
    float: left;
    width: 160px;
    margin-right: 10px;
    text-align: center;
    img {
      max-width: 100%;
      display: inline-block;
    }
  }

  .product-content {
    margin-left: 170px;
  }

  .product_title {
    color: $title-product;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 6px;

    > a {
      color: inherit;
    }
  }

  .offer-box {
    margin: 0;
  }

  .shipping-availability {
    color: $grey;
    font-size: 0.9em;
  }

  .offer-merchant {
    color: $grey;
    display: none;
    .merchant {
      color: #02489d;
    }
  }

  .product-binding {
    display: none;
  }

  .product-description {
    display: none;

    + .readmore-js-toggle {
      display: none;
    }
  }

  .product-buy-link {
    display: none;
  }
}

@include breakpoint($mobile) {
  .amazon-item--detail {
    .product-image {
      width: 100%;
      margin-right: 0;
    }

    .product-content {
      margin-left: 0;
    }
  }
}

.product-warnings {
  .icon-info {
    display: inline-block;
    margin-right: 0.4em;
    vertical-align: text-top;
    @include replace-text-with-dimensions("info-icon.png");
  }

  > a {
    color: $azzurro-giunti;
  }
}

