.bean-box {
  max-width: 300px;
  margin: 0px auto 20px;
  border: 1px solid $border-grey;

  figure {
    margin: 0;
    padding: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include breakpoint($tab) {
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.block--gp-amazon-search {
  width: auto;
  margin-right: 236px;
  margin-left: 100px;
  padding: 0px;
  padding-right: 20px;
  @include clearfix;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  white-space: nowrap;

  .block__title {
    display: inline-block;
    display: none;
    font-size: 13px;
    font-weight: 600;
    margin-right: 8px;
    vertical-align: middle;
  }

  .block__content {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  @include breakpoint($tab) {
    margin-right: 0;
    @include grid-span(8, 1);
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

    .block__title {
      @include element-invisible();
    }

    .block__content {
      width: 100%;
    }
  }
}

.block--gp-amazon-cart-cart {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
  padding: 0px;
  padding-left: 15px;
  @include clearfix();

  .block__title {
    display: none;
  }

  .block__content {
    position: relative;
    float: left;
    display: inline-block;

    @include border-radius(3px);
    padding-left: 40px;
    background: image-url('cart.png') no-repeat;
    background-size: 26px;
    background-position: 5px 5px;
    margin: 0px 1px;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-touch-action: none;
  }

  .cart-count {
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }

  .cart-link {
    display: block;
    color: #000;
    font-weight: 600;
    text-decoration: none;

    a {
      color: #000;
    }
  }

  @include breakpoint($mobile) {
    @include grid-span(4, 5);

    .block__content {
      width: 100%;
      margin-bottom: 2px;
    }
  }
}

.block--gp-blocks-user,
.block--gp-blocks-signin {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix();

  .block__content {
    position: relative;
    float: left;
    display: inline-block;

    @include border-radius(3px);
    margin: 1px 1px;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-touch-action: none;

    &:hover {
//      margin: 0px;
//      border: 1px solid #ddd;
//      border-bottom-color: #ccc;
//      @include box-shadow(0 1px 0 rgba(255,255,255,0.5));
    }
  }

  .welcome {
    font-weight: bold;
    text-decoration: none;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .account {
    a {
      font-weight: 600;
      color: #000;
      text-decoration: none;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      margin-bottom: 2px;
      border-style: solid;
      border-width: 4px;
      border-color: transparent;
      border-top: 4px solid;
      border-bottom-width: 0;
      font-size: 0;
      line-height: 0;
    }
  }

  .dropdown {
    position: absolute;
    top: 38px;
    right: -14px;
    z-index: 99;
    @include opacity(0);
    display: none;
    width: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #bbb;
    @include border-radius(2px);
    background-color: $white;
    @include background-clip(padding-box);
    @include transition(opacity .2s);

    a {
      display: inline-block;
      margin: 0.4em 0.3em;
      color: $text-dark;
      font-size: 12px;
      line-height: 1.2;
      white-space: nowrap;

      &:hover {
        color: $orange-title;
      }
    }

    span {
      display: inline-block;
      margin: 0.4em 0.3em;
      color: $text-dark;
      font-size: 12px;
      line-height: 1.2;
      white-space: nowrap;
    }
  }

  &.open .dropdown {
      display: block;
      @include opacity(1);
      color: #000000;

      &:before {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #bbb;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9px;
        right: 12px;
      }

      &:after {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #fff;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -8px;
        right: 12px;
      }
  }

  @include breakpoint($mobile) {
    @include grid-span(4, 1);
    overflow: visible;

    .block__content {
      width: 100%;
      margin-bottom: 1px;

      .dropdown {
        right: auto;
        min-width: 100%;
        max-width: 200%;

        &:before {
          left: 80px;
        }

        &:after {
          left: 80px;
        }
      }

      &:hover {
        .account:after {
          right: 6px;
        }
      }
    }

    .welcome {
      text-align: center;

    }

    .account {
      text-align: center;
    }
  }
}

.block--sharethis-sharethis-block {
  z-index: 5;
  text-align: right;
}

.block-giunti-card {
  min-width: 98px;
  min-height: 73px;
  padding: 10px 0 10px;

  .block-content {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 2px 15px 5px;
    padding-left: 100px;
    border: 2px solid $arancione-giunti;
    @include border-radius(8px);
    line-height: 1.2;

    &:after {
      content: '';
      position: absolute;
      top: -5px;
      left: -2px;
      width: 100px;
      height: 73px;
      background: transparent image-url('GIUNTIcard_front-BLU.png') no-repeat;
      background-size: contain;

      -ms-transform: rotate(-10deg); /* IE 9 */
      -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
      transform: rotate(-10deg);
    }
  }

  .text1 {
    color: $blu-giunti;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;

    strong {
      color: $price;
      white-space: nowrap;

      .cart-wrapper & {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }

  .text2 {
    color: $generic-link-color;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;

    strong {
      font-weight: 600;
    }
  }
}

.sharethis-wrapper {
  &:before {
    content: 'Condividi';
    font-size: 12px;
    line-height: 1;
    margin-right: 1em;
    vertical-align: bottom;
  }
}
