.l-page {
  min-width: 320px;
}

.l-main,
.l-footer {
  > .content {
    //max-width: 945px;
    min-width: 300px;
    margin: 0 auto;
    padding: 15px 30px 5px;
    overflow: auto;

    @include breakpoint($tab) {
      padding: 15px 15px 0;
    }
  }
}

.l-main {
  > .content {
    margin-top: 40px;
    padding: 0 30px 5px;

    @include breakpoint($tab) {
      padding: 0 15px;
    }
  }
}

// Header section
// -----------------
.l-header {
  background: mix(#fff, #d3e7ff);
  @include background(linear-gradient(#fff 65%, #d3e7ff 100%));
  border-bottom: 1px solid #c0c5d7;
}

.l-region--header-top {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 30px 3px;

  .lt-ie10 & {
    background-color: $white;
  }

  @include breakpoint($tab) {
    padding: 8px 10px;
  }

  @include breakpoint($mobile) {
    padding: 0 10px;
  }
}

.l-branding {
  @include clearfix;
  padding: 0 30px 2px;
  border-bottom: 1px solid #e6e6e6;

  .lt-ie10 & {
    background-color: $white;
  }

  @include breakpoint($tab) {
    padding: 0 15px 0;
  }
}

.site-logo {
  display: block;
  float: left;
  margin-top: 15px;
  margin-right: 6px;
  
  width: 316px;
  height: 100px;
}

.amazon-logo {
  display: block;
  float: left;

  @include breakpoint($tab) {
    max-width: 24%;
  }
}

.l-region--branding {
  float: right;

  @include breakpoint($mobile) {
    display: none;
  }
}

.l-region--header {
  @include clearfix;
  position: relative;
  padding: 8px 30px 8px;

  @include breakpoint($tab) {
    padding: 15px 15px 0;
  }
}

.l-region--navigation {
  clear: both;
  padding: 4px 30px 3px;
  border-bottom: 1px solid #c0c5d7;

  @include breakpoint($tab) {
    padding: 19px 0 9px;
  }
}

.l-footer {
  margin-top: 1.5em;
  padding: 0 0 8px;
  border-top: 2px solid $border-grey;
  background: mix(#d3e7ff, #fff);
  @include background(linear-gradient(#d3e7ff 0%, #fff 33%));

  color: $footer-text;

  a {
    color: $footer-text;
  }
}

.l-region--footer-first {
  @include clearfix;
  padding-bottom: 4px;
  border-bottom: 1px solid $border-grey;
}

.footer-logo {
  @include grid-span(2, 1);

  @include breakpoint($tab) {
    @include grid-span(8, 1);
    text-align: center;
  }
}

.colophon {
  @include grid-span(6, 3);
  margin-bottom: 10px;
  padding-left: 20px;
  color: #000000;
  font-size: 12px;
  line-height: 14.4px;

  p {
    margin: 0;
  }

  @include breakpoint($tab) {
    @include grid-span(8, 1);
    padding: 0 10px;
    text-align: center;
  }
}

.block--system-powered-by {
  display: none;
}

.l-region--footer-second {
  @include clearfix;
  padding-top: 15px;
}

.block--menu-menu-footer-menu {
  @include grid-span(5, 1);

  @include breakpoint($tab) {
    @include grid-span(8, 1);
    padding-bottom: 15px;
    text-align: center;
  }

  .block__title {
    margin: 0 0 10px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.block--menu-menu-giunti-network {
  @include grid-span(6, 3);

  @include breakpoint($tab) {
    @include grid-span(8, 1);
    padding-bottom: 15px;
    text-align: center;
  }

  .block__title {
    margin: 0 0 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.l-content {
//  overflow: auto;
}

.node-type-bookstore .l-content,
.page-bookstores-map  .l-content,
.page-eventi .l-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}