// The div is needed to override ctools styling.
// Bad, bad ctools!
div.giunti-modal-dialog {
  @include reset-box-model;
  @include border-radius(3px);
  @include box-shadow(0 0 46px rgba(8, 8, 9, .75));

  .modal-header {
    margin: 0;
  }

  .modal-title {
    @include reset-box-model;
    @include replace-text('logo.png', 0, 50%);
    height: image-height('logo.png');
    display: none;
  }

  .close {
    //@include element-invisible;
    @include replace-text-with-dimensions("close.png");
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -(image-width("close.png")/2);
    right: -(image-width("close.png")/2);
  }

  .modal-content {
    @include reset-box-model;
  }

  form.gp-card-bind-giunticard-form,
  form.gp-card-create-giunticard-form {
    > div {
      height: 100%;
      padding: 30px 30px 20px 290px;
      border-top: 1px solid #dbdbdb;
      background: transparent image-url('giunticard.jpg') no-repeat 20px 50px;
    }

    .form-item,
    .form-actions {
      padding: 0;
      border: 0;
      background-color: transparent;
    }

    .form-item {
      label {
        color: $text-violet;
      }

      input[type="text"],
      input[type="password"] {
        max-width: 100%;
        padding: 0.4em 0.6em;
        border: 1px solid $text-violet;
        border-radius: 3px;
        color: $text-violet;
      }

      &.form-item-date-of-birth {
        .container-inline {
          clear: both;
        }

        .form-item {
          margin-right: 1%;
        }
        .chosen-container {
          width: 32% !important;
        }
      }

      div.password-strength,
      div.password-confirm {
        width: 16em;
        color: $text-violet;
        font-size: 11px;
      }

      div.password-suggestions {
        background-color: $gray-lighter;
      }
    }

    .form-actions {
      padding-top: 10px;

      button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"] {
        display: inline-block;
        padding: 6px 37px;
        border: 0;
        @include border-radius(3px);
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        color: $white;
        background: $arancione-giunti;
      }
    }
  }

  @include breakpoint($tab) {
//    max-width: 300px;
//    overflow: hidden;
//
//    .modal-title {
//      background-size: 100%;
//    }
  }
}

.modal-redirect {
  padding: 20px;

  p {
    margin: 0 0 1em;
    font-size: 12px;
    line-height: 16px;
    color: $grey;
  }

  .btn {
    display: inline-block;
    padding: 0 37px 2px;
    padding: 6px 10px;
    @include border-radius(3px);
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: $white;
    background: $arancione-giunti;

    &:hover {
      text-decoration: none;
    }
  }

  .block-giunti-card {
    max-width: 360px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;

    .text1 {
      strong {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }

  .notice-card {
    margin-bottom: 30px;
    padding: 6px 10px;
    @include border-radius(4px);
    color: $white;
    font-size: 16px; // 18px.
    line-height: 20px; // 21px.
    font-weight: bold;
    background-color: $blu-giunti;
  }

  .login-to-card,
  .bind-create-card,
  .skip-card {
    @include grid-span(4, 1);
    clear: left;
    margin-bottom: 18px;
    padding: 8px 0 8px;
    @include border-radius(4px);
    color: $gray;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

    .login,
    .register,
    .bind,
    .create {
      margin-bottom: 0;
      padding-left: 20px;
      color: $blu-giunti;
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      text-align: left;
      background: transparent image-url('arrow-to-right.png') no-repeat;
      background-size: 14px;
      background-position: 0px 4px;
//      display: inline-block;

      a {
        margin-top: 10px;
      }
    }
  }

  .login-to-card,
  .bind-create-card {
    text-align: center;
  }

  .login-to-card {
    p {
      font-size: 16px;
      line-height: 18px;
    }

    .login,
    .register {
      a {
        display: block;
        margin: 10px auto 20px;
        text-align: center;
      }
    }

    > a {
      margin: 10px auto 30px;
      min-width: 250px;
      text-align: center;
    }
  }

  .bind-create-card {
    > a {
      margin: 10px auto 30px;
      min-width: 250px;
      text-align: center;
    }
  }

  .skip-card {
    @include grid-span(4, 5);
  }

  .login-to-card,
  .bind-create-card,
  .bind-card,
  .create-card {
    padding: 15px 10px 10px;
    @include border-radius(4px);
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    background-color: $celestino-giunti;
    overflow: hidden;

    a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 14px 10px;
      @include border-radius(3px);
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      background: $arancione-giunti;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .skip-card {
    padding: 10px 15px 10px;
    @include border-radius(4px);
    font-size: 14px;
    line-height: 16px;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    overflow: hidden;

    p {
      text-align: left;
    }

    a {
      display: inline-block;
      min-width: 130px;
      margin-left: 10px;
      padding: 6px 34px 6px 10px;
      @include border-radius(3px);
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      background: $giallo-giunti image-url('amazon-ico.png') no-repeat;
      background-position: 98% center;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include breakpoint($tab) {
//    max-width: 300px;
//    overflow: auto;
//    padding: 20px 30px 20px;
//    background-size: 40%;
//    background-position: 20px 30px;
//    text-align: center;
//
//    p {
//      font-size: 16px;
//      text-align: left;
//      line-height: 18px;
//
//      &:first-child {
//        margin-left: 50%;
//      }
//    }
//
//    .separator {
//      margin: 15px 0;
//    }
  }
}

div.ctools-modal-content {
  .modal-header,
  .modal-content {
    font-size: 14px;
  }

  .description {
    margin-bottom: 1em;
    color: $text-dark;
    font-size: 0.8em;
    font-weight: normal;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: normal;
  }

  label.option {
    line-height: 24px;
  }

  .form-item,
  .form-actions {
    border: 1px solid $border-grey;
    padding: 10px;
    background-color: #f9f9f9;

    .form-item {
      padding: 0;
      border: 0;
    }

    label,
    legend {
      border: 0;
      color: #333333;
      font-size: inherit;
      font-weight: bold;

      a {
        color: #333333;
      }
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      margin-right: 1em;
    }
  }

  .option-text-aligner .form-item {
    &.form-item-override-title-text {
      float: none;

      input {
        margin-left: 1em;
      }
    }
  }
}
