// Header menus
// -----------------
.l-region--navigation {
  @include clearfix;

  .menu {
    @include reset-box-model;
    @include no-bullets;
    @include clearfix;
  }
}

$region-nav-item-height: 42px;

.block--menu-menu-categories {
  position: relative;
  float: left;
  display: inline-block;
  width: auto;
  padding: 0px 10px 0px 0px;
  @include clearfix();

  .block__title {
    position: relative;
    float: left;
    display: inline-block;

    @include border-radius(3px);
    width: 88px;
    margin: 0;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-touch-action: none;


    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      margin-bottom: 2px;
      border-style: solid;
      border-width: 4px;
      border-color: transparent;
      border-top: 4px solid;
      border-bottom-width: 0;
      font-size: 0;
      line-height: 0;
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    z-index: 99;
    @include opacity(0);
    display: none;
    width: 250px;
    margin: 0;
    padding: 10px 0;
    border: 1px solid #bbb;
    @include border-radius(2px);
    background-color: $white;
    @include background-clip(padding-box);
    @include transition(opacity .2s);

    .leaf {
      list-style: none;
      color: $text-dark;
    }

    a {
      color: $text-dark;
    }
  }

  &.open {
    .menu {
      display: block;
      @include opacity(1);
      color: #000000;

      &:before {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #bbb;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9px;
        left: 67px;
      }

      &:after {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #fff;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -8px;
        left: 67px;
      }
    }

    .block__title {
      top: -1px;
      left: -1px;
      border: 1px solid #ddd;
      border-bottom-color: #ccc;
      @include box-shadow(0 1px 0 rgba(255,255,255,0.5));

      &:hover {
        & + .menu {
          margin-top: 1px;
        }
      }

      &:after {
        right: 6px;
      }
    }
  }

  a {
    display: block;
    padding: 5px 14px;
    font-size: 12px;
    line-height: ( 14/12 );
    color: $white;
    @include text-shadow(0 -1px 0 rgba(7, 7, 8, .17));
  }

  .last {
    a {
      background: none;
    }
  }

  @include breakpoint($mobile) {
    display: none;
    @include grid-span(8, 1);
    float: none;
    margin-top: 10px;
    padding: 0;

    .block__title {
      width: 100%;
      margin-bottom: 2px;
      padding: 14px 10px;
      font-size: 14px;
      line-height: 1;
      text-align: center;

      &:after {
        bottom: 18px;
      }
    }

    &.open {
      .menu {
        width: 100%;

        &:before {
          top: -9px;
          left: 50%;
        }

        &:after {
          top: -8px;
          left: 50%;
        }
      }

      .block__title:hover {
        & + .menu {
          margin-top: 2px;
        }
      }
    }

    a {
      padding: 10px 14px;
    }
  }
}

.main-navigation {

  .menu {
    @include horizontal-list();
    float: right;
  }

  li {
    border-right: 1px solid $generic-link-color;
    color: $generic-link-color;
    font-size: 12px;
    line-height: 14.4px;

    .facebook-link {
      display: inline-block;
      width: 14px;
      margin: 0 4px;
      @include replace-text('480px-Facebook_icon_2013.svg.png', 0, 50%);
      background-size: contain;
    }

    &.last {
      border-right: 0;
    }
  }

  a {
    padding: 0 5px;
    color: $generic-link-color;
  }

  @include breakpoint($mobile) {
    @include grid-span(5, 4);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    h2.element-invisible {
      position: static !important;
      height: auto;
      min-height: image-height('icon-mode-detail.png')/2;
      margin: 0 0 5px;
      padding-top: 3px;
      padding-left: image-width('icon-mode-detail.png') + 5px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 18px;
      background: transparent image-url('icon-mode-detail.png') no-repeat;
      background-position-x: 0;
      background-position-y: 2px;

      &.closed {
        background-position-y: -(image-height('icon-mode-detail.png')/2) + 2px;
        color: #1b2f73;
      }
    }

    .closed + .menu {
      overflow: hidden;
      height: 0;
    }

    .menu {
      float: none;

      li {
        display: block;
        float: none;
        padding: 5px 0;
        border: 0;
        background: transparent;

        text-align: center;
        border-top: 1px solid $border-grey;
        padding: 1em 0;

        &.first {
          border-top: 0;
        }

        &:hover {
          color: #000;
          background-color: $border-grey;
        }

        a {
          display: block;
          color: $text-dark;
        }
      }
    }
  }

  @include breakpoint($mobile) {
    @include grid-span(8, 1);
    padding-top: 15px;
  }
}

.pane-browsenode-menu-block,
.pane-browsenode-nav,
.pane-menu-menu-gp-menu-block-default,
.pane-menu-menu-sidebar-menu {
  .pane-title {
    @include element-invisible;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul {
    li {
      margin: 0;
      color: $category-color;
      font-size: 14px;
      line-height: 16px;

      a {
        color: inherit;
        text-decoration: none;
        &:hover, &:active {
          text-decoration: underline;
        }
      }
    }

    > li {
      margin-bottom: 1em;

      > span,
      > a {
        color: $category-root-color;
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
      }

      ul ul {
        padding-left: 10px;
      }
    }
  }

  @include breakpoint($tab) {
    > ul {
      > li {
        padding-left: 0;
      }
    }

    .pane-title {
      position: static !important;
      overflow: visible;
      height: auto;
      font-size: 18px;
      color: $section-title;
      padding-bottom: .5em;
      border-bottom: 1px solid #d7d7d7;

      &.closed + ul {
        display: none;
      }

      &.open + ul {
        display: block;
      }
    }
  }
}

.pane-browsenode-nav {
  margin-bottom: 1em;
}

.pane-browsenode-menu-block,
.pane-menu-menu-gp-menu-block-default,
.pane-menu-menu-sidebar-menu {
  .menu {
//    margin-bottom: 1em;

    .last {
      .menu {
        margin-bottom: 0;
      }
    }

    .expanded,
    .collapsed,
    .leaf {
      list-style: none;
    }

    .admin-link {
      text-align: right;
      line-height: 1;
      color: $text-dark;

      a {
        color: $text-dark;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
  }
}

.block--menu-menu-menu-gp-menu-bar-home .block__title,
.block--menu-menu-gp-menu-bar-home .block__title,
.block--menu-gp-menu-bar-default .block__title,
.block--menu-menu-gp-menu-bar-default .block__title {
  display: none;
}

.block--menu-menu-menu-gp-menu-bar-home,
.block--menu-menu-gp-menu-bar-home,
.block--gp-menu-menu-bar .block__content,
.block--menu-gp-menu-bar-default,
.block--menu-menu-gp-menu-bar-default {
  float: left;
  z-index: 10;

  > .menu {
    list-style-type:none;
    padding: 1px 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;

    > li{
      display:block;
      position: relative;
      float:left;
      margin: 0 8px 0;

      > span {
        color: #0254aa;
      }

      &.expanded {
        padding-right: 14px;

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: 0px;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px;
          border-color: transparent;
          border-top: 4px solid #0254aa;
          border-bottom-width: 0;
          font-size: 0;
          line-height: 0;
          cursor: pointer;
        }

        &.open{
          > .menu {
            @include opacity(1);
            display: block;
            padding: 10px;

            li {
              margin: 0;
              color: $category-color;
              font-size: 14px;
              line-height: 16px;

              a {
                color: inherit;
                text-decoration: none;
                &:hover, &:active {
                  text-decoration: underline;
                }
              }
            }

            > li.expanded {
              margin-bottom: 1em;

              > span,
              > a {
                color: $category-root-color;
                font-size: 16px;
                line-height: 19px;
                font-weight: bold;
              }

              ul ul {
                padding-left: 10px;
              }
            }

            > li {
              margin-bottom: 1em;

              .all-books {
                margin-bottom: 1em;
                color: $generic-link-color;
                font-size: 16px;
                line-height: 19px;
                font-weight: bold;
              }
            }
          }

          &.page-browse > .menu {
            @include opacity(0);
            display: none;

            @include breakpoint($tab) {
              @include opacity(1);
              display: block;
              padding: 10px;
            }
          }
        }
      }

      &.admin-link {
        float: right;
        color: $text-dark;

        a {
          color: $text-dark;
          font-size: 0.8em;
        }
      }

      &:last-child {
        margin-right:0px;
      }
    }

    .expanded,
    .leaf {
      list-style: none;
    }

    a {
      color: #0254aa;
    }

    > .expanded > .menu {
      position: absolute;
      top: 100%;
      left: 100%;
      z-index: 98;
      @include opacity(0);
      display: none;
      width: 250px;
      margin: 8px 0 0;
      margin-left: -37px;
      padding: 10px 0;
      border: 1px solid #bbb;
      @include border-radius(2px);
      background-color: $white;
      @include background-clip(padding-box);
      @include transition(opacity .2s);

      &:before {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #bbb;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9px;
        left: 23px;
      }

      &:after {
        content: '';
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #fff;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -8px;
        left: 23px;
      }

      li {
        display:block;
        position: relative;
        float:left;
        clear: both;
        margin: 0 8px 0;
        list-style: none;
        color: $text-dark;
      }

      a {
        color: #0254aa;
      }
    }
  }
}
// Footer menus
// -----------------
.l-region--footer-second {
  .menu {
    @include horizontal-list();
    font-size: 12px;
    line-height: 14px;
  }

  li {
    padding: 0 5px;
    border-right: 1px solid;
    font-size: 12px;

    &.last {
      border-right: 0;
    }
  }
}

.block--system-main-menu {
  font-size: 14px;

  .menu {
    margin-right: 10px;
  }

  .leaf {
    border-bottom: 0;
  }

  @include breakpoint($tab) {
    .leaf {
      padding: 10px 0;
    }
  }
}

.block--menu-menu-giunti-network {
  .menu {
    @include column-count(3);
  }

  .leaf {
    display: block;
    padding-left: 20px;
    border-left: 1px solid $border-grey;
  }

  @include breakpoint($mobile) {
    .menu {
      @include column-count(2);
    }

    .leaf {
      padding: 5px 0;
      border: 0;
    }
  }
}

// Breadcrumb
// -----------------
.breadcrumb {
//  float: left;
  list-style: none;
  margin:0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
//  margin-top: 20px;
  padding-bottom: 12px;
  margin-bottom: 9px;
//  border-bottom: 1px solid #eee;

  li {
    display: inline-block;
//    color: #999;
    color: $grigio-giunti;

    a {
      color: inherit;
      text-decoration: none;
      @include link-colors(inherit, darken(#999, 10%));
    }

    .current {
//      color: #33407a;
      color: #000000;
//      text-transform: uppercase;
    }
  }
}

// Ajax responders.
.ajax-progress-throbber {
  .message {
    display: none;
  }
}