article.node {
  color: $text-dark;
  &.node--page--full {
    padding-bottom: 1em;
  }
  p, ul, ol, li {
    line-height: $base-line-height;

  }

  li {
    margin-bottom: .5em;
  }

  p {
    margin-top: .5em;
    margin-bottom: 1em;
  }

  a {
    color: $generic-link-color;
  }

  h2 {
    font-weight: normal;
    font-size: 1.4em;
    color: darken($text-dark, 10%);
    margin-top: 1.5em;
    margin-bottom: .5em;
  }

  table {

    border: none;
    color: $text-dark;
    margin-bottom: 1em;

    th {
      background: transparent;
      border-bottom: 1px solid #d7d7d7;
      padding: 8px 15px;
      color: #666;
    }

    td {
      padding: 8px 15px;
      border-bottom: 1px solid #d7d7d7;
      font-weight: normal;
    }

    tr.even,
    tr.odd {
      background-color: transparent;
    }
  }

  .geolocation-map img {
    max-width: none;
  }
}

article.node--page {
}

article.node--event {
  @include clearfix;

  &.node-teaser {
    margin-bottom: 1.5em;
    padding-bottom: 0.4em;
    border-bottom: 2px solid $text-dark;

    .node__title {
      font-size: 1.3em;
      color: $blue-title-prod;
      font-weight: bold;
      margin: 0 0 1em;
      a {
        color: $blue-title-prod;
        font-weight: bold;
      }
    }

    .field--name-field-event-image {
      float: left;
      margin-right: 15px;
    }

    .field--type-text-with-summary {
      margin-left: 315px;
    }

    @include breakpoint($tab) {
      .field--name-field-event-image {
        img {
          width: 150px;
          height: auto;
        }
      }

      .field--type-text-with-summary {
        margin-left: 165px;
      }
    }

    @include breakpoint($mobile) {
      .field--name-field-event-image {
        float: none;
        margin: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .field--type-text-with-summary {
        margin-left: 0;
      }
    }
  }

  .field--name-field-event-image {
    float: right;
  }

  .field--name-field-event-stores {
    clear: both;
    padding: 1em;
    margin-top: 1em;
    background-color: #f5f5f5;

    .field-title {
      color: #02489d;
      /*font-weight: bold;*/
      margin-bottom: .5em;
    }
    .node__title {
      font-size: $base-font-size;
      font-weight: bold;
      margin: 0;
    }
  }

  h1 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  h2 {
    margin: 0;
    font-size: 14px;
  }

  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
  }

  h4 {
    margin: 0;
    color: #FF3300;
    font-size: 13px;
    font-weight: bold;
  }

  &.node--event--full {
    margin: auto;
    padding: 20px 0;
    border-top: 2px dotted $border-grey;
    border-bottom: 2px dotted $border-grey;

    .field--name-field-event-image {
      float: left;
      width: 19%;
      max-width: 240px;
      margin-right: 1%;

      .field__item > img {
        height: auto;
      }
    }

    > .node__content {
      float: left;
      width: 50%;
    }

    .field--name-field-related-book {
      float: right;
      margin: 0 0 10px 1%;
      padding: 10px;
      border: 1px solid #c2c2c2;
//      max-width: 400px;
      width: 29%;
      background-color: #f2f2f2;
    }

    .amazon-item--detail {
      .product_title {
        line-height: 1.2;
      }

      .offer-box,
      .shipping-box {
        display: none;
      }

      .product-description {
        display: block;

        + .readmore-js-toggle {
        }
      }

      .product-buy-link {
        display: block;
      }
    }

    @include breakpoint($tab) {
      .field--name-field-event-image {
        width: 33%;
        max-width: none;
        margin-right: 2%;
      }

      > .node__content {
        float: left;
        width: 65%;
      }

      .field--name-field-related-book {
        clear: both;
        width: 65%;
      }
    }

    @include breakpoint($mobile) {
      .field--name-field-event-image {
        float: none;
        width: 100%;
        margin-right: 0;
      }

      > .node__content {
        float: none;
        clear: both;
        width: 100%;
      }

      .field--name-field-related-book {
        clear: both;
        float: none;
        width: 100%;
      }
    }
  }
}

article.node--bookstore {

  .row {
    @include clearfix;
    .bookstore-left {
      @include grid-span(4, 1);
    }
    .bookstore-right {
      @include grid-span(4, 5);
    }
  }

  .top-table {
    border: 1px solid $border-grey;
    font-size: 14px;
    line-height: 1.3em;

    .first-cell,
    .second-cell,
    .third-cell {
      padding: .35em 8px;
      height: 46px;
      @include box-sizing(border-box);
    }

    .first-cell {
      background-color: $footer-bg;
      border-bottom: 1px solid $border-grey;
      font-weight: bold;
      color: #000;
      .bookstore-title {
        font-weight: 900;
      }
    }
    .second-cell {
      border-bottom: 1px solid $border-grey;

      div {
        display: inline;
      }
    }

    .field--name-field-store-image-right {
      float: right;
      border-left: 1px solid $border-grey;
      img {
        display: block;
      }
    }

    .field--name-field-store-address .field__item,
    .field--name-field-store-place .field__item {
      overflow: hidden;
      @include ellipsis(true);
    }

    div.field--name-field-store-address {
      display: block;
      div {
        display: block;
      }
    }
  }

  .field--name-field-store-images {
    float: left;
    margin-right: 30px;
    width: 470px;
    margin-bottom: 1.5em;
  }

  .slick-slider {
    margin-bottom: 4px;

    .slick-prev,
    .slick-next {
      width: image-width('slider-left-def.png') + 12;
      height: image-height('slider-left-def.png') + 10;
      margin-top: image-height('slider-left-def.png') / -2;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      background: rgba(0,0,0,.5) image-url('slider-left-def.png') no-repeat center center;
      left: 0;
      @include border-right-radius(3px);
      &:hover,
      &:focus {
        background-image: image-url('slider-left-over.png');
        background-color: rgba(255,255,255,.7);
      }
    }
    .slick-next {
      background: rgba(0,0,0,.5) image-url('slider-right-def.png') no-repeat center center;
      right: 0;
      @include border-left-radius(3px);
      &:hover,
      &:focus {
        background-image: image-url('slider-right-over.png');
        background-color: rgba(255,255,255,.7);
      }
    }

    .slick-dots {
      margin: 0;
      bottom: 0;
      li button::before {
        color: $orange-title;
        @include opacity(.5);
        font-size: 12px;
      }
      li.slick-active button::before {
        color: $orange-title;
        @include opacity(1);
      }
    }
  }

  .field--label-inline {
    .field__label,
    .field__items {
      float: none;
      display: inline-block;
    }
  }

  .field--name-field-store-address,
  .field--name-field-store-cap,
  .field--name-field-store-city {
    display: inline-block;
  }

  .field--name-field-location {
    clear: both;
    .geolocation-help,
    .geolocation-map {
      margin-top: 0;
    }
  }

  .field--type-bookstore-hours {
    .hours-box {
      border: 1px solid $border-grey;
      margin: 1.5em 0;

      h3 {
        margin: 0;
        padding: 3px 0;
        font-size: 14px;
        color: #000;
        text-align: center;
        background-color: $footer-bg;
        border-bottom: 1px solid $border-grey;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li.day {
        display: block;
        border-bottom: 1px solid $border-grey;
        @include clearfix;
        font-size: 12px;
        margin: 0;

        &:last-child {
          border-bottom: none;
        }

        .day-name,
        .item-list {
          float: left;
          padding: .3em 5px;
        }

        .day-name {
          display: block;
          width: 40%;
          border-right: 1px solid $border-grey;
        }

        .item-list {
          width: 60%;
          text-align: center;
          li {
            margin: 0;
            display: inline-block;
          }
        }

      }
    }
  }

  .icon-tel-fax {
    height: 14px;
  }

  .icon-email {
    height: 10px;
    vertical-align: middle;
  }

}

article.node--book {
  @include clearfix;

  &.node--detail {
    .field--name-field-image {
      float: left;
      width: 160px;
      margin-right: 10px;
      text-align: center;
    }
    .field-title-with-link-to-product {
      font-size: 20px;
      line-height: 26px;
      color: $blue-title-prod;
      font-weight: normal;
      margin: 0 0 6px;

      > a {
        color: $blue-title-prod;
      }
    }

    .product_authorship {
      margin-bottom: 6px;
      color: #000;
      .author_role {
        color: $grey;
      }
    }

    .field--name-field-list-price {
      .field__label {
        color: $grey;
        font-size: 0.8em;
        text-align: right;
        padding-right: 5px;
        font-weight: normal;
      }
      .field__item {
        color: $grigio-giunti;
        font-size: 0.85em;
        font-weight: 400;
        text-decoration: line-through;
      }
    }

    .field--name-field-current-price {
      .field__label {
        display: none;
        color: $grey;
        font-size: 0.8em;
        text-align: right;
        padding-right: 5px;
        font-weight: normal;
      }
      .field__item {
        padding-left: 0.4em;
        color: $red-price;
        font-weight: 600;
      }
    }

    .add-to-cart-box {
      float: right;
      position: relative;
      margin-top: 1em;
      margin-left: 20px;


      .form-item-quantity {
        display: none;
      }

      .oneclickbuy-submit,
      .card-submit,
      .login-submit,
      .form-submit {
        display: block;
        text-align: center;
        width: 149px;
        background-color: $arancione-giunti;
        color: #fff;
        font-weight: bold;
        @include border-radius(6px);
        line-height: 28px;
        border: none;
        padding: 0;
      }

      .item-added-text {
        position: absolute;
        top: -1.5em;
        width: 100%;
        margin: 0;
        color: $grey;
        font-weight: bold;
        text-align: center;
      }

      @include breakpoint($mobile) {
        float: none;
        margin-left: 0;

        .oneclickbuy-submit,
        .form-submit {
          margin: 10px auto;
          min-width: 70%;
        }
      }
    }

    .gp-wishlist-link {
      float: right;
      margin-top: 1em;
      margin-left: 20px;

      > a {
        display: block;
        color: $grey;
        line-height: 28px;
      }

      @include breakpoint($mobile) {
        float: none;
        margin-left: 0;

        > a {
          min-width: 70%;
          margin: 10px auto;
          text-align: center;
        }
      }
    }
  }
}