// Product page.
// -----------------
.front,
.page-browse,
.page-product,
.page-search,
.page-cart,
.page-cart-last {
  .page-title {
    @include element-invisible;
  }
}

.page-title {
  font-size: 24px;
  color: $section-title;
}

.page-user {
  .user-login,
  .user-pass {
    max-width: 430px;
  }
}

.page-user {
  .tabs--primary {
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 #dbdfed);
    background-color: #f9fafb;
    overflow: hidden;

    li {
      margin: 0;
      padding-left: 1px;
      background: transparent inline-image('menu-item-separator.png') no-repeat bottom left;

    }

    a {
      display: block;
      background-color: transparent;
      height: $region-nav-item-height;
      padding: 0 22px;
      font-size: 15px;
      line-height: $region-nav-item-height;
      font-weight: 600;
      color: $text-violet;
      text-transform: uppercase;
    }

    .active a {
      @include background(linear-gradient($category-root-start, $category-root-end));
      color: #fff;
      font-weight: bold;
    }
  }
}

[name=signup-iframe] {
  border: 0;
}

.gp-signup-page {
  margin: 20px auto 50px;
//  max-width: 1024px;
  @include clearfix();

  .signup-notice {
    margin-bottom: 3px;
    padding: 10px 10px 25px;
    @include border-radius(4px);
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;

    img {
      display: inline-block;
      margin-right: 30px;
      vertical-align: middle;
    }

    .notice-wrapper {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    h3 {
      margin: 0 0 5px;
      color: $arancione-giunti;
      font-size: 26px;
      font-weight: bold;
    }

    p.notice-card {
      margin: 5px 0 18px;
      font-size: 22px;
      line-height: 26px;
    }

    p.notice-register {
      margin: 19px 0;
    }
  }

  .signup-wrapper,
  .binder-wrapper,
  .register-wrapper,
  .skip-card {
    @include grid-span(4, 1);
    padding: 10px 15px 15px 35px;
    @include border-radius(4px);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    background-color: $celestino-giunti;
    overflow: hidden;

    .btn {
      display: inline-block;
      padding: 16px 16px;
      @include border-radius(10px);
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      background: $arancione-giunti;

      &:hover {
        text-decoration: none;
//        box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
      }
    }
  }

  .signup-title,
  .binder-title,
  .register-title {
    margin: 0 0 15px -20px;
    padding-left: 20px;
    color: $blu-giunti;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: -.03em;
    text-align: left;
    background: transparent image-url('arrow-to-right.png') no-repeat;
    background-size: 14px;
    background-position: 0px 4px;
  }

  .signup-wrapper {
    iframe {
      max-height: 295px;
      margin-bottom: 5px;
    }

    a.change-pwd {
      display: block;
      margin-bottom: 5px;
      color: #000000;
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      text-decoration: underline;
    }

    a.register-link {
      display: block;
      margin-bottom: 5px;
      color: #000000;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      text-decoration: underline;
    }
  }

  .binder-wrapper,
  .register-wrapper,
  .skip-card {
    @include grid-span(4, 5);
    clear: right;
    margin-bottom: 20px;
  }

  .binder-action,
  .register-action {
    display: block;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
  }

  .skip-card {
    padding: 10px 15px 15px;
    background-color: $white;

    p {
      margin: 0 0 1em;
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }

    a.btn {
      display: inline-block;
      min-width: 130px;
      margin-left: 10px;
      padding: 6px 20px 6px 20px;
      @include border-radius(6px);
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      text-transform: none;
      background: $giallo-giunti;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.anonymous-user {
    .signup-wrapper {
      float: left;
    }
  }

  &.logged-user {
    .register-wrapper {
      display: none;
    }

    .signup-wrapper {
      margin: auto;

      .register-link {
        display: none;
      }
    }
  }

  .block-giunti-card {
    max-width: 440px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;

    .block-content {
      padding-top: 8px;
      padding-left: 128px;

      &:after {
        top: 0px;
        left: -10px;
        width: 134px;
        height: 85px;
      }

      .text1 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;

        strong {
          font-size: 26px;
          line-height: 32px;
        }
      }

      .text2 {
        line-height: 24px;
      }
    }
  }

  .notice-card {
    margin-bottom: 30px;
    padding: 6px 10px;
    @include border-radius(10px);
    color: $white;
    font-size: 16px; // 18px.
    line-height: 20px; // 21px.
    font-weight: bold;
    background-color: $blu-giunti;
  }
}

.page-signup {
  h1.page-title {
    display: none;
  }
}

.page-user,
.page-register,
.page-register-card {
  .l-main > .content {
    max-width: 960px;
  }
  .gp-user-register-form {
    max-width: 430px;
  }
}

.page-signup,
.page-giunti-card-missing {
  .l-main > .content {
    max-width: 870px;
    margin-bottom: 30px;
  }
}

.page-changepwd,
.page-reset-pass {
  .l-main > .content {
    max-width: 430px;
    margin-bottom: 50px;
  }
}

.page-giunti-card-create,
.page-giunti-card-bind {
  .l-main > .content {
    max-width: 475px;

    .page-title {
      @include element-invisible;
    }
  }
}

.page-user-wishlist {
  .wishlist-item {
    @include clearfix;
    margin-bottom: 12px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;

    .amazon-item {
      @include grid-span(10, 1, 12);

      .offer-amount-saved {
        display: none;
      }
    }

    .wishlist-actions {
      @include grid-span(1, 11, 12);
    }

    @include breakpoint($tab) {
      .amazon-item {
        @include grid-span(10, 1, 12);
      }

      .wishlist-actions {
        @include grid-span(2, 10, 12);
      }
    }

    @include breakpoint($mobile) {
      .amazon-item {
        @include grid-span(12, 1, 12);
      }

      .wishlist-actions {
        @include grid-span(12, 1, 12);
      }
    }
  }

  .oneclickbuy-submit {
    display: block;
    text-align: center;
    width: 149px;
    background-color: $arancione-giunti;
    color: #fff;
    font-weight: bold;
    @include border-radius(6px);
    line-height: 28px;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .add-to-cart-form {
    .form-item-quantity {
      display: none;
    }

    .form-submit {
      display: block;
      text-align: center;
      width: 149px;
      background-color: $arancione-giunti;
      color: #fff;
      font-weight: bold;
      @include border-radius(6px);
      line-height: 28px;
      border: none;
      padding: 0;
    }

    @include breakpoint($mobile) {
      .form-submit {
        margin: 10px auto;
        min-width: 70%;
      }
    }
  }

  .gp-wishlist-remove-link {
    display: block;
    text-align: center;
    width: 149px;
    background-color: $blue-title-prod;
    color: #fff;
    font-weight: bold;
    @include border-radius(6px);
    line-height: 28px;
    text-decoration: none;

    @include breakpoint($mobile) {
      margin: 10px auto;
      min-width: 70%;
    }
  }

}

.view,
.page-user-wishlist {
  .pager {
    @include clearfix;
    background-color: #f6f6f6;
    color: #545454;
    padding: 6px 9px;
    margin-bottom: 17px;
    line-height: 22px;

    a {
      color: #044a91;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .pager__item--current {
      color: #000;
      font-weight: bold;
    }

    .pager__item--previous,
    .pager__item--next {
      font-weight: bold;
      color: #989898;
    }

    .pager__item--previous a {
      background: image-url("pager-prev-active.png") no-repeat left center;
      padding-left: 24px;
    }

    .pager__item--next a {
      background: image-url("pager-next-active.png") no-repeat right center;
      padding-right: 24px;
    }
  }
}

.page-giunti-card-missing {
  .page-title {
    @include element-invisible();
  }

  .block-giunti-card {
    max-width: 440px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;

    .block-content {
      padding-top: 8px;
      padding-left: 128px;

      &:after {
        top: 0px;
        left: -10px;
        width: 134px;
        height: 85px;
      }

      .text1 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;

        strong {
          font-size: 26px;
          line-height: 32px;
        }
      }

      .text2 {
        line-height: 24px;
      }
    }
  }

  .notice-card {
    margin-bottom: 30px;
    padding: 6px 10px;
    @include border-radius(10px);
    color: $white;
    font-size: 16px; // 18px.
    line-height: 20px; // 21px.
    font-weight: bold;
    background-color: $blu-giunti;
  }

  .bind-create-card-wrapper,
  .skip-card {
    @include grid-span(4, 1);
    padding: 10px 15px 15px 35px;
    @include border-radius(4px);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    background-color: $celestino-giunti;
    overflow: hidden;

    .btn {
      display: inline-block;
      padding: 16px 16px;
      @include border-radius(10px);
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      background: $arancione-giunti;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .skip-card {
    @include grid-span(4, 5);
    clear: right;
    padding: 10px 15px 15px;
    background-color: $white;

    p {
      margin: 0 0 1em;
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }

    a.btn {
      display: inline-block;
      min-width: 130px;
      margin-left: 10px;
      padding: 6px 10px 6px 10px;
      @include border-radius(6px);
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      text-transform: none;
      background: $giallo-giunti;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.disclaimer-wrapper {
  @include grid-span(4, 5);
  clear: right;
  padding: 10px 15px 10px;
  @include border-radius(4px);
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  background-color: $white;
  overflow: hidden;

  &.disclaimer-wrapper-signup {
  }

  &.disclaimer-wrapper-purchase {
  }

  p {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
  }

}

// EU cookie compliance
#sliding-popup .popup-content {

  #popup-text h2 {
    font-size: 14px;
    margin: .5em 0;
    font-weight: normal;
  }

  #popup-buttons button {
    margin-top: .5em;
    font-weight: normal;
    font-family: $lato;
  }
}

.page--app {
  &.l-header {
    background: transparent image-url('app-head-bg.jpg') repeat;
    background-size: contain;
    text-align: center;
  }

  .l-branding {
    padding: 0;
    border: 0;

    &:after {
      display: none;
    }

    img {
      &:after {
        display: none;
      }
    }
  }
}

.signup-wrapper,
.binder-wrapper,
.register-wrapper,
.skip-card,
.disclaimer-wrapper {
  @include breakpoint($mobile) {
    .gp-signup-page & {
      @include grid-span(8, 1);
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.disclaimer-wrapper {
  @include breakpoint($mobile) {
    &.disclaimer-wrapper-signup {
      @include grid-span(8, 1);
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.page-newsletter {

  .l-main > .content {
    max-width: 960px;
  }

  .gp-newsletter-form {
    @include grid-span(4, 1);
    clear: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 8px;
    @include border-radius(4px);
    color: $gray;
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

    @include breakpoint($tab) {
      @include grid-span(8, 1);
    }

    > div {
      padding: 0 8px 8px;

      > a {
        color: $gray;
      }
    }

    input[type='text'],
    input[type='mail'],
    input[type='password'] {
      width: 100%;
      padding: 2px 6px 3px;
      color: $gray;
    }

    .prefix {
      > ul {
        padding-left: 2em;
        color: $arancione-giunti;
      }
    }

    .form-item-name,
    .form-item-surname,
    .form-item-email {
      > label {
        @include element-invisible();
      }
    }

    .suffix,
    .form-checkboxes {
      margin-bottom: 0.4em;
      font-size: 13px;
      line-height: 1.2;
    }

    .form-checkboxes {
      input[type="checkbox"] {
        float: left;
        margin-top: 2px;
      }
      label.option {
        display: block;
        margin-left: 18px;
      }
    }

    .form-actions {
      margin-top: 20px;
    }

    input[type=submit] {
      display: inline-block;
      min-width: 200px;
      padding: 10px 20px;
      border: 0;
      @include border-radius(6px);
      color: $white;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      background: $arancione-giunti;
    }
  }
}