.panel-region {
  @include clearfix;
}

.panel-region--content {
  .pane-page-title {
    h1,
    h2 {
      margin-top: 0;
    }
  }
}

.panel-fullwidth,
.panel-left-sidebar,
.panel-right-sidebar,
.panel-left-right-sidebar {
  clear: both;
}

.panel-left-sidebar {
  @include clearfix;

  .panel-region--content {
    @include grid-span(13, 4, 16);

    .page-browse &,
    .page-classifiche & {
      padding-left: 20px;
      border-left: 1px solid $grigio-leggero-giunti;
    }
  }
  .panel-region--sidebar {
    @include grid-span(3, 1, 16);
  }

  @include breakpoint($tab) {
    position: relative;

    /*
    &:before {
      position: absolute;
      top: 30px;
      left: -15px;
      width: 60px;
      height: 30px;
      content: 'Sidebar';
      padding: 5px;
      color: $white;
      line-height: 20px;
      background-color: $arancione-giunti;
    }
    */

    .panel-region--content {
      @include grid-span(8, 1);

      .page-browse &,
      .page-classifiche & {
        padding-left: 0;
        border-left: 0;
      }
    }
    .panel-region--sidebar {
//      @include grid-span(8, 1);

      position: absolute;
      overflow: hidden;
      float: none;
      width: 0;
      height: 100%;
      background-color: $white;

      &.open {
        width: 247px;
      }
    }
  }

  @include breakpoint($large) {
    .panel-region--content {
      @include grid-span(14, 3, 16);
    }
    .panel-region--sidebar {
      @include grid-span(2, 1, 16);
    }
  }

  @include breakpoint($wide) {
    .panel-region--content {
      @include grid-span(7, 2);
    }
    .panel-region--sidebar {
      @include grid-span(1, 1);
    }
  }}

.panel-right-sidebar {
  @include clearfix;

  .panel-region--content {
    @include grid-span(12, 1, 16);

    .front & {
      padding-right: 20px;
    }
  }
  .panel-region--sidebar {
    @include grid-span(4, 13, 16);
  }

  @include breakpoint($tab) {
    .panel-region--content {
      @include grid-span(8, 1);
    }
    .panel-region--sidebar {
      @include grid-span(8, 1);
    }
  }

  @include breakpoint($large) {
    .panel-region--content {
      @include grid-span(13, 1, 16);
    }
    .panel-region--sidebar {
      @include grid-span(3, 14, 16);
    }
  }

  @include breakpoint($wide) {
    .panel-region--content {
      @include grid-span(7, 1);
    }
    .panel-region--sidebar {
      @include grid-span(1, 8);
    }
  }
}

.panel-complex {
  @include clearfix;

  .panel-region--preface {
    clear: both;
  }

  .panel-region--highlight-left {
    @include grid-span(6, 1);
    margin-bottom: 15px;
  }

  .panel-region--highlight-right {
    @include grid-span(2, 7);
    margin-bottom: 15px;

    .pane-block {
      margin-bottom: 19px;
    }
  }

  .panel-region--box-first,
  .panel-region--footer-first {
    @include grid-span(3, 1, 9);
    clear: left;
  }

  .panel-region--box-second,
  .panel-region--footer-second {
    @include grid-span(3, 4, 9);
  }

  .panel-region--box-third,
  .panel-region--footer-third {
    @include grid-span(3, 7, 9);
    clear: right;
  }

  .panel-region--content {
    clear: both;
  }

  @include breakpoint($tab) {
    .panel-region--highlight-right {
      .pane-block {
        margin-bottom: 12px;
      }
    }
  }

  @include breakpoint($mobile) {
    .panel-region--highlight-left {
      @include grid-span(8, 1);
      margin-bottom: 12px;
    }

    .panel-region--highlight-right {
      @include grid-span(8, 1);

      .pane-block {
        width: 50%;
        float: left;
        margin-bottom: 12px;
      }
    }
  }
}

.panel-left-right-sidebar {
  @include clearfix;

  .panel-region--content {
    @include grid-span(9, 4, 16);

    .page-browse & {
      padding-left: 20px;
      border-left: 1px solid $grigio-leggero-giunti;
    }
  }
  .panel-region--sidebar-left {
    @include grid-span(3, 1, 16);
  }

  .panel-region--sidebar-right {
    @include grid-span(4, 13, 16);
  }

  @include breakpoint($tab) {
    .panel-region--content {
      @include grid-span(8, 1);

      .page-browse & {
        padding-left: 0;
        border-left: 0;
      }
    }

    .panel-region--sidebar-left,
    .panel-region--sidebar-right {
      display: none;
    }
  }


}

/*
.pane-browsenode-items,
.pane-amazon-search-results {

  .search-header-bar {
    @include clearfix;
    background-color: #f6f6f6;
    color: #545454;
    padding: 6px 9px;
    margin-bottom: 17px;
    line-height: 26px;

    a {
      color: inherit;
    }

    .result-count {
      float: left;
      text-transform: uppercase;
      padding-right: 20px;
      border-right: 1px solid #d3d3d3;
      display: inline-block;
      font-size: 12px;

      @include breakpoint(0 600px) {
        width: 100%;
        border-right: 0;
      }

      @include breakpoint($mobile) {
        text-align: center;
      }
    }


    .sort {
      float: right;
      font-size: 12px;

      .sort-title {
        display: inline-block;
        vertical-align: middle;
      }

      .sort-button {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: 26px;
        margin-left: 10px;

        .sort-arrow {
          position: absolute;
          right: 0;
          top: 0;
          width: 33px;
          height: 100%;
          line-height: 26px;
          text-align: center;
          text-decoration: none;
          background: inline-image('sort-arrow-left-line.png') no-repeat left center;
          span {
            display: inline-block;
            @include single-transition(all, .5s);
          }
        }

        &.opened {
          ul {
            max-height: 300px;
            @include box-shadow(0 2px 1px rgba(0,0,0,.2));
          }
          .sort-arrow span {
            @include transform(rotate(180deg));
          }
        }

        ul, li {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        ul {
          padding: 0 8px;
          padding-bottom: .2em;
          max-height: 26px;
          overflow: hidden;
          border: 1px solid #ebebeb;
          @include border-radius(3px);
          @include background(linear-gradient(#f7f7f7, #dddddd));
          @include single-transition(all, .5s);
        }

        li {
          line-height: 24px;
        }
      }
    }
  }

  .pager {
    @include clearfix;
    background-color: #f6f6f6;
    color: #545454;
    padding: 6px 9px;
    margin-bottom: 17px;
    line-height: 22px;

    a {
      color: #044a91;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .pager__item--current {
      color: #000;
      font-weight: bold;
    }

    .pager__item--previous,
    .pager__item--next {
      font-weight: bold;
      color: #989898;
    }

    .pager__item--previous a {
      background: image-url("pager-prev-active.png") no-repeat left center;
      padding-left: 24px;
    }

    .pager__item--next a {
      background: image-url("pager-next-active.png") no-repeat right center;
      padding-right: 24px;
    }
  }
}
*/

.search-header-bar {
  @include clearfix;
  background-color: #f6f6f6;
  color: #545454;
  padding: 6px 9px;
  margin-bottom: 17px;
  line-height: 26px;

  a {
    color: inherit;
  }

  .result-count {
    float: left;
    text-transform: uppercase;
    padding-right: 20px;
    border-right: 1px solid #d3d3d3;
    display: inline-block;
    font-size: 12px;

    @include breakpoint(0 600px) {
      width: 100%;
      border-right: 0;
    }

    @include breakpoint($mobile) {
      text-align: center;
    }
  }


  .sort {
    float: right;
    font-size: 12px;

    .sort-title {
      display: inline-block;
      vertical-align: middle;
    }

    .sort-button {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 26px;
      margin-left: 10px;

      .sort-arrow {
        position: absolute;
        right: 0;
        top: 0;
        width: 33px;
        height: 100%;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        background: inline-image('sort-arrow-left-line.png') no-repeat left center;
        span {
          display: inline-block;
          @include single-transition(all, .5s);
        }
      }

      &.opened {
        ul {
          max-height: 300px;
          @include box-shadow(0 2px 1px rgba(0,0,0,.2));
        }
        .sort-arrow span {
          @include transform(rotate(180deg));
        }
      }

      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        padding: 0 8px;
        padding-bottom: .2em;
        max-height: 26px;
        overflow: hidden;
        border: 1px solid #ebebeb;
        @include border-radius(3px);
        @include background(linear-gradient(#f7f7f7, #dddddd));
        @include single-transition(all, .5s);
      }

      li {
        line-height: 24px;
      }
    }
  }
}

.amazon-search-pager {
  @include clearfix;
  background-color: #f6f6f6;
  color: #545454;
  padding: 6px 9px;
  margin-bottom: 17px;
  line-height: 22px;

  a {
    color: #044a91;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .pager__item--current {
    color: #000;
    font-weight: bold;
  }

  .pager__item--previous,
  .pager__item--next {
    font-weight: bold;
    color: #989898;
  }

  .pager__item--previous a {
    background: image-url("pager-prev-active.png") no-repeat left center;
    padding-left: 24px;
  }

  .pager__item--next a {
    background: image-url("pager-next-active.png") no-repeat right center;
    padding-right: 24px;
  }
}

.pane-bookstores,
.pane-bookstores-panel-pane,
.pane-events-panel-pane,
.pane-browsenode-searches,
.pane-browsenode-topitems-sets,
.pane-browsenode-all-bestsellers,
.pane-amazon-search-block,
.pane-amazon-search-asins-block,
.pane-blurb-block-blurb-box,
.pane-alice-search-block-alice-search-box,
.pane-alice-search-alice-search-pane,
.pane-alice-search-block,
.pane-amazon-search-results {

  .panel-region--sidebar & {
    max-width: 300px;
    margin: auto;

    font-size: 12px;
    line-height: 16px;
  }

  .pane-title {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: $section-title;
    border-bottom: 1px solid #d7d7d7;

    a {
      color: $section-title;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .panel-region--sidebar & {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #d7d7d7;

    .pane-title {
      border: 0;
      font-size: 14px;
      color: $generic-link-color;

      a {
        color: $generic-link-color;
      }
    }
  }
}

.pane-page-title {
  color: $section-title;
  font-size: 24px;

  h1, h2 {
    font-size: inherit;
  }
}

#simplemeta-meta-form {
  &.simplemeta-meta-form-ajax {
    min-width: 255px;
    width: 50%;
    background: $celestino-giunti;

    .form-close {
      right: -50px;
      width: 50px;
      height: auto;
      padding: 5px 10px;
      background: $arancione-giunti;
    }

    &.simplemeta-hidden {
      .form-close {
        opacity: 0.7;
      }
    }

    .form-item {
      margin-bottom: 5px;
    }

    input.form-text,
    textarea.form-textarea {
      width: 100%;
    }

    input.form-submit {
      width: auto;
      height: auto;
      margin: auto;
      margin-left: 10px;
      padding: 6px 37px;
      border: 0;
      @include border-radius(3px);
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      color: $white;
      text-indent: 0px;
      background: $arancione-giunti;
    }
  }
}

.page-classifiche {
  .pane-page-title {
    .pane-title {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  .pane-amazon-search-asins-block {
    float: left;
    width: 30%;
    margin-right: 3%;

    .pane-title {
      border-bottom: 0;
      color: $blu-giunti;
    }

    > div {
      border: 1px solid $border-grey;
    }

    .amazon-search-row {
      margin: 0 auto;
      padding: 12px 0;

      &.amazon-search-row-odd {
        background-color: $celestino-giunti;
      }

      @include breakpoint($tab) {
        font-size: 0.8em;
      }
    }

    .amazon-item--rank {
      position: relative;
      min-height: 170px;

      > .rank {
        display: block;
        position: absolute;
        top: 0;
        right: 12px;
        background-color: $blu-giunti;
        @include border-radius(25px);
        padding: 7px;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 15px;
        text-align: center;
        font-weight: bold;
      }

      .product-image {
        width: 130px;

        @include breakpoint($tab) {
          width: 108px;
        }

        img {
          max-width: 100%;
          max-height: 170px;
          display: inline-block;
          @include breakpoint($tab) {
            max-height: 125px;
          }
        }
      }

      .product-content {
        position: absolute;
        margin-left: 0;
        left: 140px;
        bottom: 0;

        @include breakpoint($tab) {
          left: 108px;
        }

        .rank {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      .pane-title {
        color: $azzurro-giunti;
      }
      .amazon-item--rank > .rank {
        background-color: $azzurro-giunti;
      }
    }

    &:nth-child(3) {
      .pane-title {
        color: $arancione-giunti;
      }
      .amazon-item--rank > .rank {
        background-color: $arancione-giunti;
      }
    }

    &:nth-child(4) {
      .pane-title {
        color: $verde-giunti;
      }
      .amazon-item--rank > .rank {
        background-color: $verde-giunti;
      }
    }
  }

  @include breakpoint($tab) {
    .pane-amazon-search-asins-block {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;

      .amazon-item--rank {
        min-height: 130px;
      }
    }
  }
}


.page-bestseller {
  .l-content > .page-title {
    display: none;
  }

  .pane-page-title {
    .pane-title {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .amazon-item--image {
    .rank {
      display: inline-block;
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-right: 10px;
      @include border-radius(10px);
      color: $white;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      text-align: center;
      background-color: $blu-giunti;
    }

    .product-image,
    .product-content {
      margin-left: 30px;
    }
  }
}

.pane-seo-text {
  margin-bottom: 20px;
}

.page-librerie {
  .pane-custom {
    margin: 2em 0;
    font-size: 16px;
    line-height: 1.5em;
    color: #000;
  }
}