[id^=gp-amazon-search-form] {
  position: relative;
  height: 34px;
  @include clearfix;
  border: 1px solid #d9d9d9;
  @include border-radius(8px);
  @include clearfix;

  > div {
    position: relative;
  }

  .form-item,
  .form-actions {
    margin: 0;
  }

  .form-item-bnid {
    position: relative;
    width: 140px;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    @include border-radius(8px 0 0 8px);
    overflow: hidden;
    line-height: 32px;
    background: mix(#ffffff, #f4f4f4);
    @include background(linear-gradient(#ffffff, #f4f4f4));

    &:hover {
      @include background(linear-gradient(darken(#fdfdfd, 2%), darken(#f4f4f4, 5%)));
    }

    &.nav-focus {
      @include background(darken(#f4f4f4, 5%));
      @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .2));
    }

    .nav-search-in-content {
      display: block;
      margin: 0 21px 0 9px;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      color: #666;
    }

    .nav-down-arrow {
      display: block;
      position: absolute;
      right: 8px;
      top: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px;
      border-color: transparent;
      border-top: 4px solid #666;
      border-bottom-width: 0;
      font-size: 0;
      line-height: 0;
    }

    select {
      position: absolute;
      left: 0;
      top: 0;
      @include opacity(0);
      visibility: visible;
      -webkit-appearance: menulist-button;
      width: 100%;
      height: 32px;
      line-height: 32px;
    }
  }

  .form-item-keywords {
    position: absolute;
    top: 0px;
    right: 85px;
    bottom: 0px;
    left: 139px;
    width: auto;
    padding: 0;
    border-left: 1px solid transparent;
    @include clearfix;
    background-color: transparent;

    input {
      width: 100%;
      padding: 0 8px;
      border: none;
      border-left: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      color: #666;
      line-height: 32px;
      background-color: #fff;
      outline: 0;
    }
  }

  #autocomplete {
    border: 1px solid #d9d9d9;

    ul.links,
    ul.links li {
      background: none;
    }

    li {
      white-space: normal;
      margin: 0;
      padding: 0 8px;
      color: #666;
      line-height: 2em;

      &.selected {
        background: #eee;
        color: inherit;
        color: $arancione-giunti;
      }

    }

    p {
      margin: 0;
    }

    .autocomplete-suggestion-link {
      > strong {
        color: $arancione-giunti;
      }
    }
  }

  html.js & {
    .form-autocomplete {
      background-image: none;
    }
  }

  .form-actions {
    float: right;
    position: relative;
    width: 86px;
    @include border-radius(0 8px 8px 0);
    overflow: hidden;

    input {
      display: block;
      width: 100%;
      height: 32px;
      padding: 0 15px;
      border: 1px solid #363c43;
      border-color: #485059 #2c3137 #363c43 #485059;
      @include border-radius(0 8px 8px 0);
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, .4));
      background: mix(#5b626a, #2c3137);
      @include background(linear-gradient(#5b626a, #2c3137));
      @include border-right-radius(1px);

      &:hover {
        @include background(linear-gradient(#485059, #2c3137));
      }
    }
  }
}

.view-mode-switcher {
  @include horizontal-list();
  float: left;

  > li {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;

    &:first-child,
    &.first {
      margin-left: 20px;
    }

    &.view-mode-detail a {
      display: block;
      padding-left: image-width('icon-mode-detail.png') + 5px;
      background: transparent image-url('icon-mode-detail.png') no-repeat;
      background-position-x: 0;
      background-position-y: 2px;

      &.active {
        background-position-y: -(image-height('icon-mode-detail.png')/2) + 2px;
        color: #1b2f73;
      }
    }

    &.view-mode-image a {
      display: block;
      padding-left: image-width('icon-mode-image.png') + 5px;
      background: transparent image-url('icon-mode-image.png') no-repeat;
      background-position-x: 0;
      background-position-y: 2px;

      &.active {
        background-position-y: -(image-height('icon-mode-image.png')/2) + 2px;
        color: #1b2f73;
      }
    }

    &.view-mode-rank {
      display: none;
    }
  }
}

.l-content > .messages {
    clear: both;
}

[id=views-content-views-panes-content-type-edit-form] {
  .bef-tree {
    margin: 0;
    padding: 0;

    .bef-tree-child {
      padding: 0 42px;
    }


    li {
      list-style: none;
    }
  }

  .bef-select-all-none {
    .bef-toggle {
      color: #333333;
    }
  }

  .expander.jquery-once-2-processed {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: -20px;
    border-radius: .4em;
    color: #fff;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
  }
}

@include breakpoint($mobile) {
  .view-mode-switcher {
    display: inline-block;
    float: right;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

    > li {
      margin: 5px 0;
      width: 50%;
      text-align: center;

      &:first-child,
      &.first {
        margin-left: 0;
      }

      &.view-mode-detail a {
        display: inline-block;
      }

      &.view-mode-image a {
        display: inline-block;
      }
    }
  }
}

