[id=signup-iframe] {
  border: 0;
}

form.user-login,
form.user-pass {
  margin: 30px auto 50px;
  padding: 8px 15px 8px;
  border: 0;
  @include border-radius(4px);
  background-color: $celestino-giunti;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}

form.gp-user-register-form {
  padding: 8px 15px 8px 30px;
  border: 0;
}

form.user-login,
form.user-pass,
form.gp-user-register-form,
form.gp-user-profile-form,
form.gp-card-create-giunticard-form,
form[id^=gp-card-create-giunticard-form],
form.gp-card-bind-giunticard-form {
  overflow: hidden;

  .initial-text {
    margin-left: -30px;
    font-size: 16px;
    line-height: 19px;
  }

  input[type=text],
  input[type=password],
  select {
    width: 100%;
    max-width: 100%;
    padding: 0.4em 0.6em;
    margin: 0.2em 0;
    border: 1px solid $grigio-giunti;
    @include border-radius(3px);
    color: #666666;
    background-color: $white;

    &.error {
      border-color: $rosso-giunti;
    }
  }

  label {
    color: #666666;
    margin-bottom: 0;
  }

  div.password-strength,
  div.password-confirm {
    width: auto;
    margin-top: 0;
    color: $gray;
    font-size: 12px;

    display: none;
  }

  .password-suggestions {
    color: $gray;
    background-color: $white;

    display: none !important;
  }

  .description {
    display: none;
    color: $gray;
  }

  .card-info {
    color: $gray;
  }

  input[type=submit] {
    display: inline-block;
    min-width: 200px;
    padding: 10px 20px;
    border: 0;
    @include border-radius(6px);
    color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: $arancione-giunti;
  }

  .password-strength,
  div.password-confirm {
    width: 11em;
    margin-top: 0;
    color: #646d87;
  }

  .form-item-nascita,
  .form-item-date-of-birth {
    .container-inline > .form-item {
      width: 80px;
    }
  }

  .form-item-sesso {
    .form-item-sesso {
      display: inline-block;
      width: 32%;
      vertical-align: top;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin: 0;
    }

    label.option {
      vertical-align: middle;
    }
  }

  @include breakpoint($tab) {
    input[type=text],
    input[type=password],
    select {
      width: 100%;
    }

    [id=edit-nascita] {
      select {
        width: auto;
      }
    }

  }
}

.gp-user-profile-form {
  .form-item {
    margin-bottom: 10px;

    label {
      margin-bottom: 0;
    }
  }

  .form-type-textfield {
    label {
    }
  }

  .form-item-codProvincia {
    .form-select {
      width: 100%;
    }
  }

  .form-item-nascita {
    .form-select {
      max-width: 70px;
    }
  }

  .form-type-card {
    .content {
      max-width: 100%;
      padding: 0.4em 0.6em;
      margin: 0.2em 0;
      border: 1px solid $grigio-giunti;
      @include border-radius(3px);
      color: #666666;
      background-color: transparent;
    }
  }

  .form-actions {
    padding-top: 10px;
    text-align: left;
  }

  .form-submit {
  }
}

.user-profile {
  max-width: 980px;
  margin: 30px auto 50px;
  padding: 10px;
  overflow: hidden;

  a {
    color: $generic-link-color;
    text-decoration: underline;
  }
}

.user-profile-category {
  @include grid-span(4, 1);
  clear: left;
  margin-bottom: 20px;
  padding: 8px 0 8px;
  @include border-radius(4px);
  color: $gray;
  background-color: $white;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

  @include breakpoint($mobile) {
    @include grid-span(8, 1);
  }

  header {
    padding: 0 0 0 15px;
  }

  h2 {
    margin: 0 0 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid $grigio-leggero-giunti;
    color: $section-title;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
  }

  .user-profile-item,
  .giunticard-info,
  .gp-user-profile-form {
    position: relative;
    padding: 0 15px;
    color: $gray;
  }

  .user-profile-item__label {
    color: #666666;
  }
}

.giunticard-info {
  position: relative;
  padding: 0 15px;
  color: $gray;

  .giunticard-item {
    margin-bottom: 10px;

    label {
      margin-bottom: 0;
    }

    > div {
      color: $price;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
    }

    a {
      color: $generic-link-color;
      text-decoration: underline;
    }
  }

  .giunticard-item-image {
    position: absolute;
    top: -15px;
    right: 20px;
    width: 40%;
    max-width: 150px;
    height: 75%;
    background: transparent image-url('GIUNTIcard_front-BLU.png') no-repeat;
    background-size: contain;

    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);

  }
}

.user-profile-category-giunti-card {
  @include grid-span(4, 1);

  @include breakpoint($mobile) {
    @include grid-span(8, 1);
  }
}

.user-profile-category-my-profile {
  @include grid-span(4, 5);

  @include breakpoint($mobile) {
    @include grid-span(8, 1);
  }
}

.user-profile-category-giunti-card,
.form-type-card {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    a {
      color: #666666;
      font-weight: 600;
    }
  }
}

.user-profile-category-your-products {
  > ul {
    position: relative;
    padding: 0 15px;
    color: $gray;
    list-style: none;
    font-size: 14px;

    li {
      margin-bottom: 10px;

      > em {
        font-size: 12px;
      }
    }
  }
}

.gp-user-change-pass-form,
.gp-user-reset-pass-form {
  margin-top: 30px;
  padding: 8px 15px 8px;
  @include border-radius(4px);
  background-color: $celestino-giunti;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

  .form-item-mail,
  .form-item-pass {
    padding-left: 20px;

    label {
      margin-left: -20px;
      margin-bottom: 10px;
      padding-left: 20px;
      color: $blu-giunti;
      font-size: 16px;
      line-height: 20px;
      background: transparent image-url('arrow-to-right.png') no-repeat;
      background-size: 14px;
      background-position: 0px 4px;
    }

    input[type='text'],
    input[type='password'] {
      width: 100%;
      padding: 2px 6px 3px;
      color: $gray;
    }
  }

  .password-strength,
  .password-confirm {
    width: auto;
    margin-top: 0;
    color: $gray;
    font-size: 12px;
  }

  .password-suggestions {
    color: $gray;
    background-color: $white;
  }

  .description {
    display: none;
    color: $gray;
  }

  .form-actions {
    text-align: center;
  }

  .form-submit {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    @include border-radius(3px);
    color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: $arancione-giunti;
  }
}

form.gp-card-bind-giunticard-form,
form.gp-card-create-giunticard-form {
  margin-bottom: 30px;

  .message {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .form-item,
  .form-actions {
    max-width: 352px;
    margin-bottom: 6px;
    padding-left: 32px;
  }

  .form-actions {
    margin-top: 20px;
  }

  .giunticard-data {
    margin-top: 20px;

    > p {
      margin-bottom: 5px;
    }

    &:after {
      content: '';
      display: block;
      width: 415px;
      max-width: 100%;
      height: 263px;
      background: transparent image-url('giunticard-data.png') no-repeat;
      background-size: contain;
    }
  }
}

.page-giunti-card-nojs-create [id^=gp-card-create-giunticard-form],
.page-giunti-card-nojs-create [id^=gp-card-create-giunticard-form-] {
  > div {
    padding: 8px;
  }

  .giunticard-info {
    padding: 8px 10px 8px;
    @include border-radius(4px);
    color: $gray;
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);

    .giunticard-item-image {
      top: 15px;
    }
  }

  .form-actions {
    margin-top: 40px;
    text-align: center;

    a {
      display: inline-block;
      min-width: 200px;
      padding: 10px 20px;
      border: 0;
      @include border-radius(6px);
      color: $white;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      background: $arancione-giunti;
    }
  }
}

.card-creation-success {
  @include grid-span(4, 1);
  clear: left;
  margin-bottom: 20px;
  padding: 0px 6px 8px;

  h2 {
    margin: 0;
    color: $arancione-giunti;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
  }

  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 14px;
    @include border-radius(10px);
    color: $white;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: $arancione-giunti;

    &:hover {
      text-decoration: none;
    }
  }
}

.bind-create-card {
  padding: 0 15px;
  text-align: center;

  .bind,
  .create {
    margin-bottom: 0;
    padding-left: 20px;
    color: $blu-giunti;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: left;
    background: transparent image-url('arrow-to-right.png') no-repeat;
    background-size: 14px;
    background-position: 0px 4px;
  }

  > a {
    display: inline-block;
    width: 250px;
    max-width: 100%;
    margin: 10px auto 10px;
    padding: 14px 10px;
    @include border-radius(6px);
    color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: $arancione-giunti;

    &:hover {
      text-decoration: none;
    }
  }
}
