.view-display-id-slideshow_pane {
  max-width: 770px;
//  min-width: 670px;
  z-index: 1;
  margin: 0 auto 15px;

  .slick-slider {
    margin-bottom: 4px;
    border: 1px solid $border-grey;

    .slick-prev,
    .slick-next {
      width: image-width('slider-next.png');
      height: image-height('slider-next.png');
      margin-top: image-height('slider-next.png') / -2;

      &:before {
        display: none;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .slick-prev {
      background: image-url('slider-prev.png') no-repeat;
      left: 5px;
    }
    .slick-next {
      background: image-url('slider-next.png') no-repeat;
      right: 5px;
    }
  }

  figure {
    display: block;
//    width: 770px;
//    height: 250px;
    max-width: 770px;
    margin: 0;

    img {
      display: block;
      width: 100%;
//      max-width: 770px;
      height: auto;
    }
  }

  ul {
    @include reset-box-model;
    @include no-bullets;
    @include clearfix;
  }

  li {
    @include reset-box-model;
  }

  .field--name-field-image a {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
  }

  .attachment {
    @include clearfix;
    z-index: 2;
    display: none;

    ul {
      text-align: center;
    }

    .views-row {
      display: inline-block;
      margin: 0 1px;
      position: relative;
      cursor: pointer;
      padding: 0 10px;

      height: 33px;
      line-height: 33px;

      @include user-select(none);

      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
      color: $text-dark;

      &:last-child {
        padding-right: 0;
      }

      &.slick-active {

        color: $section-title;

        &:before {
          position: absolute;
          display: block;
          content: '';
          top: 33px;
          left: 50%;

          z-index: 5;

          margin-left: image-width('slider-notch.png') / -2;

          width: image-width('slider-notch.png');
          height: image-height('slider-notch.png');

          background: image-url('slider-notch.png') no-repeat;
        }
      }
    }

    .views-row-first {
      margin-left: 3px;
    }

    .views-row-last {
      margin-right: 3px;
    }

    .field--name-field-thumbnail {
      img {
        @include border-radius(2px);
      }
    }
  }

  @include breakpoint($tab) {
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }

    .field--name-field-image a {
      display: inline;
    }

    .attachment {

      @include clearfix;

      .views-row {
        /*float: left;
        width: 50%;*/
        margin: 0;
      }
    }
  }
}

.view-hero-block {
  position: relative;
  max-width: 770px;
  margin: 0 auto 15px;

  figure {
    margin: 0;
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  ul {
    @include reset-box-model;
    @include no-bullets;
    @include clearfix;
  }

  li {
    @include reset-box-model;
  }

  > .slick-slider {
    margin-bottom: 0;
    border: 1px solid $border-grey;
  }

  &.view-display-id-hero_pager {
    > .slick-slider {
      margin-bottom: 0;
      border: 0;
    }
  }

  .attachment {

    position: absolute;
    top: 10px;
    right: 15px;
    width: 216px;

    .slick-slide ul {
      width: 216px;
    }

    .views-row {
      float: left;
      margin: 0;
      width: 215px;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #b7b7b7 #aaaaaa #a0a0a0;
      background: #ececec;

      @include background-image(linear-gradient(whitesmoke, #e3e3e3));
      @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.6) inset);
      // IE8
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='#e3e3e3',GradientType=0);

      &.views-row-first {
        border-width: 1px 1px 1px 1px;
        @include border-top-radius(3px);
      }

      &.views-row-last {
        @include border-bottom-radius(3px);
      }

      .field--name-field-thumbnail {
        float: left;
        margin-top: 14px;
        margin-bottom: 13px;
        margin-left: 10px;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
      }

      .field--name-field-link {
        margin-left: 60px;
        padding-top: 14px;
        a,
        span.nolink {
          color: #666;
          text-decoration: none !important;
          font-weight: bold;
          font-size: 13px;
          line-height: 1.15em;
        }
      }

      .field--name-field-subtitle {
        display: block;
        margin: 3px 0;
        padding-bottom: 10px;
        color: #666;
        font-size: 11px;
        line-height: 1.15em;
        margin-left: 60px;
      }

      &.slick-active {
        background: #fff;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
        .field--name-field-link a {
          color: #000;
        }
      }
    }
  }

  @include breakpoint(0 1020px) {
    .attachment {
      .views-row-5 {
        display: none;
      }
    }
  }

  @include breakpoint(0 650px) {
    .attachment {
      .views-row-4 {
        display: none;
      }
    }
  }

  @include breakpoint(0 510px) {
    .attachment {
      .views-row-3 {
        display: none;
      }
    }
  }

  @include breakpoint($mobile) {
    .attachment {
      display: none;
    }
  }
}

.view-blurb-block {
  .views-row {
    margin-bottom: 12px;
    padding-bottom: 13px;

    &.slick-slide {
      margin: 0;
      padding: 0;

      figure {
        margin: 0 10px;
        text-align: left;

        img {
          width: auto;
          max-width: 149px;
          height: 228px;
          max-height: none;
        }
      }

      .field--name-field-link {
        margin: 5px 10px;
        color: #004b91;
        font-size: 1em;
        line-height: 1.5em;

        a {
          color: inherit;
        }
      }
    }
  }

  .slick-slider {
    $button-width: image-width("slider-next.png");
    $button-height: image-height("slider-next.png");
    $slider-padding: 7px;

    padding: 0 ($button-width + $slider-padding * 2);
    margin-bottom: 1.5em;

    @include breakpoint($mobile) {
      padding: 0 ($slider-padding * 2);
    }

    .slick-prev,
    .slick-next {
      width: $button-width;
      height: $button-height;
      margin-top: -($button-height / 2);

      &:before {
        content: none;
      }

      &.slick-disabled {
        @include opacity(.2);
      }
    }

    .slick-prev {
      background-image: image-url("slider-prev.png");
      left: 0; //-($button-width + $slider-padding);
    }

    .slick-next {
      background-image: image-url("slider-next.png");
      right: 0; //-($button-width + $slider-padding);
    }
  }
}

.view-alice-search-block {
  .views-row {
    margin-bottom: 12px;
    padding-bottom: 13px;

    &.slick-slide {
      margin: 0;
      padding: 0;

      .views-field-field-image {
        margin: 0 10px 15px;
        text-align: left;

        img {
          width: auto;
          max-width: 149px;
          height: 170px;
          max-height: none;
        }
      }

      .views-field-title {
        margin: 0 10px;
        font-weight: bold;
        color: #004b91;
        font-size: 1em;
        line-height: 18px;

        a {
          color: inherit;
        }
      }

      .views-field-field-authors {
        margin: 0 10px;
        font-size: 12px;
        line-height: 15px;
        font-weight: normal;
      }

      .views-field-field-format {
        margin: 0 10px;
        font-size: 12px;
        line-height: 18px;
        color: rgba(102, 102, 102, 0.6);
      }

      .views-field-field-list-price,
      .views-field-field-current-price {
        display: inline-block;
        margin: 0 0 0 10px;
        color: $grigio-giunti;
        font-size: 14px;
        line-height: 18px;
      }

      .views-field-field-list-price {
        font-size: 12px;
        text-decoration: line-through;
      }

      .views-field-field-current-price {
        color: $red-price;
        font-weight: bold;
      }
    }
  }

  .slick-slider {
    $button-width: image-width("slider-next.png");
    $button-height: image-height("slider-next.png");
    $slider-padding: 7px;

    padding: 0 ($button-width + $slider-padding * 2);
    margin-bottom: 1.5em;

    .slick-prev,
    .slick-next {
      width: $button-width;
      height: $button-height;
      margin-top: -($button-height / 2);

      &:before {
        content: none;
      }

      &.slick-disabled {
        @include opacity(.2);
      }
    }

    .slick-prev {
      background-image: image-url("slider-prev.png");
      left: 0; //-($button-width + $slider-padding);
    }

    .slick-next {
      background-image: image-url("slider-next.png");
      right: 0; //-($button-width + $slider-padding);
    }
  }
}

.view-alice-search {

  .alice-search-header-bar {
    @include clearfix;
    background-color: #f6f6f6;
    color: #545454;
    padding: 6px 9px;
    margin-bottom: 17px;
    line-height: 26px;

    a {
      color: inherit;
    }

    .result-count {
      float: left;
      text-transform: uppercase;
      padding-right: 20px;
      border-right: 1px solid #d3d3d3;
      display: inline-block;
      font-size: 12px;

      @include breakpoint(0 600px) {
        width: 100%;
        border-right: 0;
      }

      @include breakpoint($mobile) {
        text-align: center;
      }
    }

    .sorts {
      float: right;
      font-size: 12px;

      .sort-title {
        display: inline-block;
        vertical-align: middle;
      }

      .sort-button {
        z-index: 1100; // contextual-link z-index is 999
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: 26px;
        margin-left: 10px;

        .sort-arrow {
          position: absolute;
          right: 0;
          top: 0;
          width: 33px;
          height: 100%;
          line-height: 26px;
          text-align: center;
          text-decoration: none;
          background: inline-image('sort-arrow-left-line.png') no-repeat left center;
          span {
            display: inline-block;
            @include single-transition(all, .5s);
          }
        }

        &.opened {
          ul {
            max-height: 300px;
            @include box-shadow(0 2px 1px rgba(0,0,0,.2));
          }
          .sort-arrow span {
            @include transform(rotate(120deg));
          }
        }

        ul, li {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        ul {
          position: relative;
          min-width: 100px;
          padding: 0 8px;
          padding-bottom: .2em;
          max-height: 26px;
          overflow: hidden;
          border: 1px solid #ebebeb;
          @include border-radius(3px);
          @include background(linear-gradient(#f7f7f7, #dddddd));
          @include single-transition(all, .5s);
        }

        li {
          line-height: 24px;
          .search-api-sort-active img {
            display: none;
          }
        }
      }
    }

    .items-per-page {
      float: left;
      text-transform: uppercase;
      padding: 0 20px;
      display: inline-block;
      font-size: 12px;

      .items-per-page-list {
        display: inline-block;
      }

      .items-per-page-value {
        padding: 0 0.2em;
      }

      .items-per-page-current {
        font-weight: bold;
      }

      @include breakpoint(0 600px) {
        width: 100%;
        border-right: 0;
      }

      @include breakpoint($mobile) {
        text-align: center;
      }
    }
  }

  .views-row {
    margin-bottom: 12px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
    @include clearfix;
  }
}

.view-bookstores-map.view-display-id-panel_pane {

  line-height: $base-line-height;
  color: $text-dark;
  @include clearfix;

  a {
    color: $generic-link-color;
  }

  .views-exposed-form > .views-exposed-widgets {
    position: relative;
    .views-submit-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .views-exposed-widget {
    padding: 0;

    &.views-widget-filter-search_api_views_fulltext {
      width: 100%;
      float: none;
      padding-right: 78px;
    }

    input.form-text {
      height: 24px;
      border: 1px solid $border-grey;
      border-right: none;
      padding-left: 3px;
      width: 100%;
    }

    input.form-submit {
      margin-top: 0;
      display: block;
      height: 24px;
      padding: 0 15px;
      border: 1px solid #363c43;
      border-color: #485059 #2c3137 #363c43 #485059;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, .4));
      background: mix(#5b626a, #2c3137);
      @include background(linear-gradient(#5b626a, #2c3137));
      @include border-right-radius(4px);

      &:hover {
        @include background(linear-gradient(#485059, #2c3137));
      }
    }
  }

  .views-field-title {
    font-weight: bold;
    color: #222;
    a {
      color: #222;
    }
  }

  .views-field-nothing {
    color: $text-dark;
  }

  .views-row {
    @include clearfix;
    border-top: 1px solid $border-grey;
    border-left: 1px solid $border-grey;
    border-right: 1px solid $border-grey;
    padding: .4em .6em;
    /*height: 42px;*/
    font-size: 12px;
    line-height: 1.3em;
  }

  .views-row-last {
    border-bottom: 1px solid $border-grey;
  }

  .view-filters-and-content {
    @include grid-span(5, 1, 12);
    .view-content {
      //height: 42px * 9 + 1;
      height: 419px;
      overflow-y: auto;
    }

    .views-exposed-form {
      margin-bottom: 1em;
    }

    .facet-province {
      .form-type-select {
        select {
          width: 100%;
        }
      }
    }

    .bookstores-filters-left {
      @include grid-span(6, 1);
    }

    .bookstores-filters-right {
      @include grid-span(2, 7);
    }

    .search-reset {
      float: right;
      margin-top: 2px;
      white-space: nowrap;
      img {
        width: 9px;
      }
    }
  }

  .attachment {
    @include grid-span(7, 6, 12);
  }

  @include breakpoint($mobile) {
    .view-filters-and-content {
      @include grid-span(12, 1, 12);
      float: left;
      margin-top: 220px;
      margin-right: -100%;
    }

    .attachment {
      @include grid-span(12, 1, 12);
      height: 200px;
      overflow: hidden;
    }
  }
}

.view-banners-top {
  @include clearfix;

  .views-row {
    float: left;
    margin-left: 5px;

    img {
      display: block;
    }
  }
}

div.view-events {
  margin-bottom: 30px;
  font-size: 12px;

  .page-eventi & {
    margin-top: 30px;
    font-size: 14px;
  }

  > .title {
    font-size: 12px;
    line-height: 1.5em;
    padding: .4em;
    margin-top: 0;
    margin-bottom: 1.5em;
    border: 1px solid $border-grey;
    background-color: $footer-bg;
    font-weight: bold;
    text-align: center;
    color: #000;
  }

  table {
    background-color: transparent;
    width: 100%;

    thead {
      display: none;
    }

    tr {
      border-top: 2px dotted $border-grey;
      border-bottom: 2px dotted $border-grey;
    }

    td {
      padding: 1em 10px .4em;
      vertical-align: top;
      color: $text-dark;
    }
  }

  td.views-field-title {
    font-weight: bold;
    color: #000;
    a {
      color: #000;
    }

    .page-eventi & {
      min-width: 170px;
      font-weight: normal;

      > a {
        display: inline-block;
        margin-bottom: 1em;
        font-weight: bold;
      }
    }
  }

  td.views-field-field-event-start-date {
    width: 80px;
    color: #942b00;
    font-weight: bold;
    text-align: center;
  }

  tr.odd,
  tr.even {
    background-color: transparent;
  }

  p {
    margin-top: 0;
  }

  .date-display-single {
    > span {
      display: block;
      font-size: 40px;
      line-height: 36px;
    }
  }

  .field--name-field-event-image {
    width: 150px;
    margin-top: 4px;

    img {
      max-width: none;
      display: block;
      margin: 0 auto;
    }
  }

  .field--name-field-event-stores {
    color: #000000;
    width: 150px;

    a {
      color: #000000;
      font-size: 16px;
      font-weight: bold;
    }

    article.node--bookstore {
      .field--name-field-store-city {
        margin-top: 0;
        margin-bottom: 0.4em;
        color: #000;
        font-size: 16px;
        font-weight: bold;
      }

      .address {
        font-size: 13px;
        line-height: 1.3;

        .field--name-field-store-city {
          margin: auto;
          font-size: 13px;
          font-weight: 400;
          color: rgb(85, 85, 85);
        }
      }

      .field--name-field-store-email {
        a {
          font-size: 13px;
          font-weight: 400;
          color: rgb(85, 85, 85);
        }
      }
    }
  }
}

.view-display-id-advanced_alice_search {

  .left-box {
    float: left;
    width: 57%;
    padding-right: 3%;
    margin-right: 3%;
    border-right: 1px solid $border-grey;

    .views-exposed-widget:first-child {
      padding-top: 0;
    }
  }

  .right-box {
    float: left;
    width: 40%;

    .views-exposed-widget:first-child {
      padding-top: 0;
    }
  }

  .views-exposed-widgets {
    margin-bottom: 0;
  }

  .views-exposed-form {
    width: 616px;
    margin: 1.5em auto 3em;
    padding: 20px 15px;
    @include border-radius(4px);
    @include box-shadow(0 0 0 4px rgba(0,0,0,0.1));

    .form-item.form-type-textfield,
    .form-item.form-type-select {
      input, select {
        border: 1px solid $border-grey;
        padding: 0.4em 0.6em;
        margin: 0.2em 0;
        color: #666666;
        background-color: $white;
        &.error {
          border-color: $rosso-giunti;
        }
      }
    }

    .views-exposed-widget {
      float: none;
      padding-right: 0;
      .views-widget .form-item {
        > input {
          width: 315px;
        }
        > select {
          width: 100%;
        }

        &.form-item-isbn input,
        &.form-item-anno-pubblicazione input {
          width: 170px;
        }
      }
    }

    .chosen-container-single {

      .chosen-single {
        background: #fff;
        @include border-radius(0);
        @include box-shadow(none);
        border: 1px solid $border-grey;
        color: #666666;
        padding: 0.4em 0.6em;
        line-height: 1.5em;
        height: auto;

        // Arrow
        div b {
          background-position: 0px 6px;
        }
      }

      .chosen-drop {
        @include border-radius(0);
        border: 1px solid $border-grey;
        border-top: 0;
      }
    }

    .form-submit {
      border: none;
      margin-top: 1.2em;
      padding: 6px 20px;
      @include border-radius(4px);
      background-color: $arancione-giunti;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .views-exposed-params {
//    width: 616px;
    margin: 1.5em 0;
    padding: 20px 15px;
//    @include border-radius(4px);
//    @include box-shadow(0 0 0 4px rgba(0,0,0,0.1));
//    background-color: #ddd;

    .search-item {
      display: inline-block;
//      margin: 0.2em 0;
//      padding: 0.4em 0.6em;
//      border: 1px solid $border-grey;
//      color: #666666;
//      background-color: $white;
    }

    span.item-label {
      text-transform: capitalize;
    }

    a.to-search {
      float: right;
      color: $arancione-giunti;
    }

    .param-list {
      display: inline;
    }
  }

  .view-empty {
    margin-bottom: 2em;
    text-align: center;
    color: #666;
  }

  @include breakpoint($mobile) {
    .left-box,
    .right-box {
      float: none;
      width: 100%;
      border: 0;

      .views-exposed-widget:first-child {
        padding-top: .5em;
      }
    }

    .views-exposed-form {
      max-width: 100%;

      .form-item {
        .chosen-container {
          max-width: 100%;
        }
      }
    }
  }
}

.view-user-orders {
  padding: 4px;

  > .view-content {
    margin-bottom: 20px;
    padding: 0px 10px 5px;
    @include border-radius(4px);
    color: $gray;
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  }

  .views-table {
    width: 100%;
  }

  thead > tr {
    border-bottom: 2px solid $grigio-leggero-giunti;
  }

  th.views-field {
    padding: 10px 5px 5px;
    background-color: transparent;
    &,
    & > a {
      color: $arancione-giunti;
    }

    &.views-field-txn-total-items,
    &.views-field-txn-subtotal,
    &.views-field-total-points {
      text-align: center;
    }
  }

  tr.odd,
  tr.even {
    border-bottom: 1px solid $grigio-leggero-giunti;
    background-color: transparent;

    &.views-row-last {
      border: none;
    }

    &:hover {
      background-color: $grigio-leggero-giunti;
    }
  }

  tr.even {
    background-color: #f9fafb;;
  }

  td.views-field {
    padding: 5px 5px;

    &.views-field-txn-total-items,
    &.views-field-txn-subtotal,
    &.views-field-total-points {
      text-align: center;
    }
  }
}