// Giunti's colors.
$arancione-giunti:  rgba(231,77,34,1);
$blu-giunti:        rgba(0,26,76,1);
$nero-giunti:       rgba(230,230,230,0.1);
$grigio-scuro-giunti: rgba(128,128,128,0.5);
$grigio-giunti:     rgba(102,102,102,0.6);
$grigio-leggero-giunti: rgba(179,179,179,0.3);
$rosso-giunti:      rgba(255,0,0,1);
$azzurro-giunti:    rgba(0,85,170,1);
$celestino-giunti:  rgba(230,245,255,1);
$verde-giunti:      #7d8a2e;
$giallo-giunti:     #f69e00;



$orange-title:      #e47911;

$white:             #fff;
$red-price:         #fe0000;
//$blue-title-prod:   #004B91;
$blue-title-prod:   #0055aa;
$grey:              #666;
$gray:              #555;
$gray-dark:         #333;
$gray-lighter:      #eee;
$green:             #090;

$category-root-start: #e64d23;
$category-root-end:   #d84000;
$category-color:      #000;
$category-root-color: $arancione-giunti;

$footer-bg:           #f4f4f4;
$footer-text:         #666;

$gallery-thumb-border: #ccc;
$gallery-thumb-active: #e9770f;

$section-title:       $arancione-giunti;
$title-product:       $blu-giunti;
$title-product-link:  $azzurro-giunti;
$price:               $rosso-giunti;

$suggest-purple:      #9d0a55;

$border-grey:       #d7d7d7;

$text-dark: #555;
$text-violet: #646d87;
$text-darkblue: #001a4b;
$generic-link-color: $azzurro-giunti;

$bg-purple: #5f6fa1;
