// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: .5em;

$mobile: 0 460px;
$mobile_xxl: 0 640px;
$tab: 0 980px;
$desk: 70em;
$large: 95em;
$wide: 125em;

$mobile-first: false;

$grids: 8;
//$grids: add-grid(12 at $tab);

$gutters: 1/5;
