$lato: 'Lato', sans-serif;

$base-font-size: 14px;
$base-line-height: 20px;

// This is the exact opposite of bootstrap, where line height is
// a relative one and computed is a pixel one.
$base-line-height-computed: $base-line-height / $base-font-size !default;

$text-color: #000;